[2019-03-28 15:13] nspark commented on #266
I agree that the result (`foo = shmem_ptr(foo, me)` in your example) is ambiguous as to whether this is valid for use as a remote address. I see no reason that `shmem_ptr(addr, shmem_my_pe())` shouldn't be required to return `addr` in the case that `addr` is a symmetric address to a remotely accessible object.

[2019-03-28 15:22] nspark commented on #266
I agree that the result (`foo = shmem_ptr(foo, me)` in your example) is ambiguous as to whether this is valid for use as a remote address. I see no reason that `shmem_ptr(addr, shmem_my_pe())` shouldn't be required to return `addr` in the case that `addr` is a symmetric address to a remotely accessible object.

[2019-04-02 21:51] jdinan opened #270 "Vector wait/test any/some/all"
Placeholder for @davidozog for wait/test any/some/all API that accept vector arguments for comparison operation and comparison value.  Follow-up from #214.

[2019-04-11 21:11] manjugv opened #271 "Define partial and complete updates"
In tickets #267  and #218 , we are using the concept of partial and complete. IMO, we should define this. So, there is no confusion and it is also useful for future reference.

[2019-04-12 20:09] naveen-rn commented on #206
Based on recent discussions in the RMA WG and with @jdinan, @bcernohous and @davidozog

To efficiently support put-with-signal with both SET and ADD operations, we could use the following semantics. Everything can be part of the same proposal.

### SEMANTIC OPTION: 1
**Sender Side**
1. put-with-signal should provide only the following guarantees
- it is compatible with wait/test - all point to poi

[2019-04-26 19:05] manjugv opened #272 "Strided Put Completion"
We don't define the completion semantics of strided put (shmem_iput). I was always assumed it was completed by shmem_quiet. Was this an oversight ?

[2019-04-26 19:09] manjugv commented on #272
If we agree, PR to address it https://github.com/openshmem-org/specification/pull/273 .

[2019-05-15 22:25] naveen-rn commented on #195
# Proposed Solution - 2 - OpenSHMEM Teams based memory allocation

Background:
1. Contexts are essentially a team-object with the new OpenSHMEM Teams proposal.
2. There are two types of contexts:
- Contexts created from the global team
- Contexts created from the user-created teams

Proposal:
1. Symmetric memory created with different traits like pagesize, memory type, size, and other properties u

[2019-05-21 15:42] nspark commented on #271
Closing; added to #228

[2019-05-21 15:42] #271 closed

[2019-05-22 14:47] nspark opened #277 "Query symmetric heap size"
Add a routine—for example, `shmem_get_heap_size`—that returns the _initial_ maximum symmetric heap size.

### Motivation

Applications often have one (or a few) large symmetric allocations and want to the ability to query how much _could_ be allocated, as this can enable applications to fail more gracefully than if `shmem_malloc` simply returns a null pointer.

It is expected that `shmem_get_heap_

[2019-05-24 13:39] #199 closed

[2019-06-25 14:02] naveen-rn commented on #195
Attaching slides for providing Support for Different Memory Kinds using Memory Spaces.
[extending-memory-spaces.pptx](https://github.com/openshmem-org/specification/files/3325611/extending-memory-spaces.pptx)

[2019-06-25 14:46] shamisp commented on #195
As long as the memory model (ordering, alignment requirements, c$ line size, etc) is exactly the same across all memory spaces, it may work. Otherwise it is not really manageable.

[2019-07-22 18:51] naveen-rn opened #278 "Enumerate list of routines handled by shmem_fence and shmem_quiet"
We have too many items in the shmem_fence and shmem_quiet routines explanations - we can convert them into a list and then clean the texts. This was based on the comments during the put-with-signal routine reading during the July F2F meeting.

[2019-08-22 20:19] jamesaross opened #279 "SHMEM Reduction Operations"
In the Teams Proposal discussion on August 22, it became apparent that some typed reduction operations, although well defined in C, are not supported by the OpenSHMEM API.  For example, the min/max/product/sum of unsigned char types.  The types supported by reductions are not as full featured as the Standard RMA Types.  So should reduction operations support all Standard RMA types where the operat

[2019-08-30 08:49] naveen-rn opened #281 "Fix fence/quiet function list in the description"
The current 1.4 specification spells out all the APIs that can be ordered or guaranteed completion using the fence and quiet APIs. For example, the description is as follows:
```ABC routine ensures QWERTY of Put, AMO, memory store, and nonblocking Put and Get routines on symmetric data objects issued by the calling PE on the given context.``` This list gets exhaustive with the inclusion of new API

[2019-08-30 08:50] naveen-rn commented on #281
This issue is a duplicate of #278 - closing this issue.

[2019-08-30 08:50] #281 closed

[2019-09-24 13:58] jdinan commented on #147
@nspark This ticket is flagged for 1.5, but it already closed.  Do we want to open a new issue to remove IN, OUT, and INOUT for OpenSHMEM 1.5?

[2019-09-24 15:13] BryantLam opened #284 "DocEdit: Check phrasings for "routines ((word))""
Forking from https://github.com/openshmem-org/specification/pull/247#pullrequestreview-292451615

From the current master, running:
[code]
gives about 200 instances that should be manually checked for grammar and past-vs.-present tense

Also,
[code]
should be checked, though the term "operation" is a more fluid than our use of "routine". #228

[2019-09-24 17:31] nspark opened #285 "Decide ordering of child-team PEs to parent-team PEs."
From the 9/24 F2F discussion, should the order of the child-team PEs be fixed and directly related to the order of the parent-team PEs?

[2019-09-24 17:44] BryantLam opened #286 "Checklist for proposing a change"
- [ ] Review frontmatter and backmatter for additional changes to include in your PR
    - Add changelog entry

[2019-09-24 17:51] jdinan opened #287 "Update Contributors for 1.5"
We have lots of new folks who have contributed to 1.5.  :tada:  Below is the list of folks who should be added to the "Current Authors and Collaborators" list in 1.5:

Megan Grodowitz
Md. Wasi-ur- Rahman
Min Si
Akhil Langer

We should also move some of the previous contributors to the alumni section.

[2019-09-24 17:52] BryantLam commented on #286
TODO: Implement a [pull request template](https://help.github.com/en/articles/creating-a-pull-request-template-for-your-repository).

[2019-09-24 17:55] nspark opened #288 "Specify domain of atomicity w.r.t. contexts and teams"
At the 9/24 F2F, the domain of atomicity for OpenSHMEM AMOs was raised with respect to contexts and teams: Are AMOs (on the same data type and address) atomic...

- ...across all contexts regardless of the team from which they were created?
- ...only across contexts created from the same team?

This has relevance to the Teams proposal #280 and multi-rail NICs.

[2019-09-24 18:21] manjugv opened #289 "Add flag to the context creation to restrict the atomicity to the context"

[2019-09-24 18:36] nspark commented on #288
@naveen-rn and @jdinan: suggested adding that "atomicity is guaranteed regardless of the context that is used" (to imply that AMOs issued on contexts created from different teams are mutually atomic).

[2019-09-24 18:36] nspark commented on #288
Tagging @gmegan

[2019-09-25 01:50] swpoole commented on #228
Pull the Culhane doc.

[2019-09-25 16:36] manjugv commented on #279
Should be closed before PR #280

[2019-09-25 16:43] manjugv commented on #272
@naveen-rn can we close this and address this with your issue and your issue #278?

[2019-09-25 16:49] manjugv commented on #264
@akhillanger Since we are depcreating pwork with Teams proposal, should we close this?

[2019-09-25 16:50] akhillanger commented on #264
Sure. Thanks.

[2019-09-25 16:53] #264 closed

[2019-09-25 18:24] nspark commented on #253
It's worth noting that the statement for reductions that:

goes all the way back to OpenSHMEM 1.0.

[2019-09-26 15:38] BryantLam opened #292 "Teams: Error Handling"
Related https://github.com/gmegan/specification/issues/139

From discussion of Teams at Sep 2019 F2F, this issue notes that the Teams feature needs to clarify the current error-handling behaviors.

[2019-09-26 15:39] BryantLam opened #293 "Teams: Vendor additions to shmem_team_config_t"
Related https://github.com/gmegan/specification/issues/153

From discussion of Teams at Sep 2019 F2F, this issue notes that the Teams feature needs to clarify the behavior of implementation-specific options in the `shmem_team_config_t` struct.

[2019-09-26 15:40] BryantLam opened #294 "Teams: Triplet-based ordering?"
Related https://github.com/gmegan/specification/issues/154 https://github.com/gmegan/specification/issues/131
Duplicate of #285

From discussion of Teams at Sep 2019 F2F, this issue notes that the Teams feature needs to (possibly) clarify the current behavior for triplet-based ordering versus relaxed ordering.

This issue affects whether `SHMEM_TEAM_SHARED` can/should/must be represented by a trip

[2019-09-26 15:59] BryantLam commented on #288
Related https://github.com/gmegan/specification/issues/152

[2019-09-26 16:03] #206 closed

[2019-09-26 16:27] wrrobin opened #295 "Performance variable and APIs"
An initial draft of the OpenSHMEM performance variables and corresponding APIs is attached:
[PVAR_APIs_Spec_F2F_09_26_19.pptx](https://github.com/openshmem-org/specification/files/3658850/PVAR_APIs_Spec_F2F_09_26_19.pptx)

Opening this issue to identify and gather all the feedback related to the initial proposal.

[2019-09-26 18:32] jdinan opened #296 "Teams and Undefined Behavior"
Update the undefined behavior annex to cover common cases with teams.

For example, the undefined behavior annex covers using an invalid PE id. We could add a row to cover the case where the PE id is valid, but not a member of the given team (e.g. in and RMA operations, as the root in a broadcast, etc.).

[2019-10-08 21:11] jdinan opened #301 "Teams Changelog Entry"
Add changelog entry for #297

[2019-10-09 13:06] #272 closed

[2019-10-16 11:50] naveen-rn opened #303 "Team-based collective interaction with deprecated active-set collectives"
I suppose, the interaction between deprecated active-set based collectives (OpenSHMEM-1.5) and team-based collectives are undefined. Concurrent collective operations from different teams and a active-set based collective is incorrect. Please clarify.

[2019-10-29 01:09] nspark commented on #303
Since this might catch the eyes of a wider audience, I'll repeat my answer here:

I think your code example exhibits undefined behavior. My rationale is that `shmem_team_barrier` includes the following note:

Because of this equivalence, I think your code example is undefined due to the concurrent use of the default/world team.

That said, because there's no explicit connection between active-set

[2019-10-29 20:37] minsii opened #308 "Interoperability: shmem_query_interoperability API"
The `shmem_query_interoperability` API can be used to query whether an interoperability feature is supported or any constraint is required by the OpenSHMEM implementation in order to support a hybrid "OpenSHMEM+X" program. For instance, it can be used to expose the additional rules of thread-safety in a hybrid OpenSHMEM+MPI program (see description in PR #304).

This API was discussed in issue #24

[2019-11-08 16:12] jdinan opened #311 "Fixed-width integer bindings for reductions"
Teams reduction operations don't have bindings for fixed-width integer types (e.g. `int32_t`).  Do users need support for these types?

[2019-11-15 20:38] jdinan opened #312 "Behavior of shmem_team_create_ctx with SHMEM_TEAM_INVALID"
Currently undefined

[2019-11-15 20:40] nspark commented on #312
Is this fair to add to #305 as a special ballot, or better as a whole new ticket?

[2019-11-15 21:05] jdinan commented on #312
This strikes me as essentially an erratum, so I wouldn't object to tacking it onto #305 via special ballot.

[2019-11-16 12:17] jdinan opened #313 "Copyright/Use Statement"
## Issue

This came up while incorporating new teams tests into our test suite.

We seem to be missing a statement regarding how the content of the OpenSHMEM specification may be used.  Here is the current IP statement in the OpenSHMEM specification:

SOS uses the text from the specification verbatim in our manpages and also incorporates example programs into our test suites.  The intent of OpenSH

[2019-11-18 13:53] jdinan commented on #313
The original issue didn't do a good job of capturing my concern.  I updated the text to hopefully better capture the issue that we ran into while incorporating new teams examples into the SOS test suite.

[2019-11-24 14:49] manjugv opened #314 "Per PE Fence"
## Problem :
To achieve ordering for RMA operations between two PEs, the OpenSHMEM programs have to use shmem_fence. The shmem_fence routine, however, orders all RMA operations from the calling PE to all other PEs. Though this achieves the intended result, this is an expensive operation for unordered networks.

## Proposal :
Introduce PE specific ordering routines that orders RMA operations from t

[2019-11-24 14:53] manjugv commented on #314
[PR](https://github.com/openshmem-org/specification/pull/315) describing the interface to address the issue

[2019-11-24 15:00] manjugv opened #317 "Per PE Quiet"
## Problem :
To complete all RMA operations that are posted from a particular PE to a particular target PE, the OpenSHMEM programs can call shmem_quiet. The shmem_quiet operation, however, completes the RMA operations from the calling PE to all PEs. For system configuration, where shmem_quiet is expensive this is unnecessary overhead.

## Proposal :
Introduce PE specific completion routines that c

[2019-12-02 18:24] jdinan opened #319 "Add shmem_team_ptr"
## Issue

The `shmem_ptr` operation takes a PE argument that is always relative to `SHMEM_TEAM_WORLD`.

## Proposed Solution

Add team-based variant of `shmem_ptr` as suggested by @naveen-rn on #307. This function's PE argument is relative to the team argument:

`void * shmem_team_ptr(shmem_team_t team, void *ptr, int pe)`

[2019-12-02 19:06] jdinan opened #320 "Zero sized teams"
Clarify `size == 0` behavior in `shmem_team_split_strided`.  Should this return `SHMEM_TEAM_INVALID` or be undefined?

[2019-12-09 15:37] RaymondMichael commented on #228
Where is the Culhane document?

[2019-12-09 18:31] jdinan commented on #228
@swpoole, are you referring to #141?

[2019-12-10 17:11] #287 closed

[2019-12-12 18:42] naveen-rn commented on #195
Slides describing the need to separate Memory Spaces and Memory Kinds in OpenSHMEM.
Slides used during the [Threads WG Meeting 12-10-2019](https://github.com/openshmem-org/specification/wiki/Threads-WG-Meeting-12-10-2019).

Slides: [decouple-space-memory-kinds.pdf](https://github.com/openshmem-org/specification/files/3957331/decouple-space-memory-kinds.pdf)

[2019-12-17 15:50] jdinan opened #324 "SHMEM_TEAM_INVALID in shmem_team_ctx_create"
What is the desired behavior when `SHMEM_TEAM_INVALID` is passed to `shmem_team_ctx_create`?

[2019-12-23 14:42] nspark commented on #314
I think this is an interesting feature, but that users need some additional information about the implementation to understand the cases in which `shmem_pe_fence` might be advantageous over `shmem_fence`. Specifically, the user application should be able to query when `shmem_pe_fence` is equivalent to `shmem_fence`, and when it is a lighter weight operation.

Consider a message-passing example in

[2019-12-23 14:52] nspark commented on #324
Closing, duplicate of #312

[2019-12-23 14:52] #324 closed

[2019-12-23 15:08] nspark commented on #320
I think this case is covered by the following from `shmem_team_split_strided`:

and from the Teams introduction:

Since the new team would, by construction, not be a valid team, creation of this team is not possible and the return behavior would be as in the first quoted section.

That said, if clarifying this specific case is important, we can do that too.

[2019-12-23 15:10] nspark commented on #289
@manjugv Does #306 close this issue?

[2019-12-24 16:57] jdinan commented on #314
@nspark Thanks for the nice example. I agree, the performance query will be helpful. Using `shmem_putmem_nbi` might also help to illustrate the potential performance improvement --- finer-grain fencing will enable pipelining of the two loops in the network. That is, an implementation that waits for completion of some, rather than all of the puts may start issuing sets sooner and do a better job of

[2019-12-24 17:02] jdinan commented on #320
One could also interpret this to be a case where the local PE is not a member of the team, which also outputs `SHMEM_TEAM_INVALID` but returns success. I think it would be helpful to clarify, so that there is consistent behavior across implementations. Do you think users would prefer the (1) invalid team or (2) not a member behavior?

[2019-12-27 16:24] manjugv commented on #289
Yes @nspark

[2019-12-27 16:24] #289 closed

[2020-01-07 16:22] davidozog opened #326 "2D team split behavior when xrange > npes"
@jdinan and I ran into a minor implementation problem when testing a 2D team split with `xrange > npes` here:
https://github.com/davidozog/sandia-shmem/pull/9

Perhaps I'm missing something in my interpretation of the API description, but I'm not sure it's explicit about this case.  Do we create an "unfilled" xteam (similar to the unfilled yteams when `npes(parent_team) % xrange > 0`), or should w

[2020-01-07 16:57] naveen-rn commented on #326
duplicate of https://github.com/gmegan/specification/issues/122

[2020-01-07 19:30] jdinan commented on #326
@naveen-rn Thanks for the reference. Now that teams is merged, I suggest that we move issues to the openshmem-org repository, so that we can better track them relative to the OpenSHMEM 1.5 release.

[2020-01-10 21:13] #312 closed

[2020-01-10 21:16] nspark opened #328 "Fix restriction on xrange in shmem_team_split_2d"
We need to revise `shmem_team_split_2d` as follows:

[2020-01-10 21:23] nspark commented on #326
I'm happy to work with @davidozog on suggesting a clarifying note to the Teams section committee.

[2020-01-11 00:05] naveen-rn commented on #314
[code]
If ```shmem_fence == shmem_pe_fence```, ```shmem_pe_fence(target[0])``` will be expensive, shouldn't subsequent fences inside the loop be no-ops (just a single conditional check)? In general, I see the performance regression caused by introducing extra conditional checks - but not because of any network ops.

That said, I see ```shmem_pe_fence/quiet``` not as routines to further obtain gran

[2020-01-12 15:19] jdinan commented on #314
@naveen-rn Agree that optimization can be used. IIUC, it will require a flag to be set in RMA/AMO operations to track whether the PE is still in the fenced/quieted state. In a multithreaded PE, the flag would require atomics. So, it seems like there is a tradeoff to be made in terms of performance of per-pe fence/quiet and RMA/AMO rate for small messages.

For the NVSHMEM or NUMA case I mentioned

[2020-01-12 21:06] shamisp commented on #314
@nspark - Users would have to be really careful how they use it. If you use it without understanding system topology performance will be hurt. In case of shared memory we would have to place "global" memory barrier regardless what is used.  If you have to do more than one fence/quite you better use regular/fence quite.

[2020-01-15 20:15] naveen-rn commented on #270
Should we close this issue? I thought we have added this new interface. @davidozog @jdinan

[2020-01-15 20:17] naveen-rn commented on #260
Should we close this issue? We have already fixed this.

[2020-01-15 20:18] naveen-rn commented on #250
Closing this issue

[2020-01-15 20:18] #250 closed

[2020-01-15 20:19] naveen-rn commented on #246
Merged for OpenSHMEM-1.5 release

[2020-01-15 20:19] #246 closed

[2020-01-15 20:22] naveen-rn commented on #207
Can we close this issue - I suppose we have added these features for OpenSHMEM-1.5?

[2020-01-15 20:23] naveen-rn commented on #265
I suppose this is not for OpenSHMEM-1.5.

[2020-01-15 20:26] naveen-rn commented on #233
I suppose this is not for OpenSHMEM-1.5.

[2020-01-15 20:27] naveen-rn commented on #232
I suppose this is not for OpenSHMEM-1.5.

[2020-01-15 20:27] naveen-rn commented on #208
I suppose this is not for OpenSHMEM-1.5.

[2020-01-15 21:13] #270 closed

[2020-01-15 21:15] davidozog commented on #260
Yes - thanks @naveen-rn.

[2020-01-15 21:15] #260 closed

[2020-01-15 21:16] #207 closed

[2020-01-15 22:31] jdinan commented on #265
I'm not sure there is a task left here, given the clarifications we have made in OpenSHMEM 1.5. I will assign this issue to myself and take the task of reviewing this against the clarified memory model and capturing the example as part of some memory model tests.

[2020-01-15 22:35] jdinan commented on #233
Yes, this will land in 1.6. IIRC, the conclusion we reached in this discussion is that blocking fetching atomics are ordered and that nonblocking variants are not. We may also want to introduce a blocking variant that is unordered.

[2020-01-20 19:53] bcernohous commented on #314
(I'm late to this).

The example above can pretty much be replaced by put w/signal.  It's more interesting if there's multiple puts being fenced.

What about non-blocking fences?  Has that been part of this discussion?

[code]

Actually, if it's non-blocking, does it matter as much if it's shmem_pe_fence or shmem_fence?

[2020-01-21 20:54] shamisp commented on #314
@bcernohous - Does it have to be put to the same PE or can be to different PEs ?

[2020-01-21 21:26] bcernohous commented on #314
It was pretty limited.  The same PE.  And since it was internally an FMA chain, the chain would be broken by non-bundled puts.

I'm not sure it was ever used, but it was a requested experimental feature.  Not proposing it for SHMEM, just reminded by the per-PE fence/flag example. There's an implicit PE fence on the last bundled put similar to put w/signal.

I'm really looking for clarification on

[2020-01-21 21:30] nspark commented on #314
No, but I also don't think there's anything about `shmem_fence` that requires it to be blocking. The meat of what is said about `shmem_fence` is that it "assures ordering". One way of assuring ordering is to call `shmem_quiet` (and block); others might count ACKs for the issued puts. Even still, one might not need to block. An internal flag could be set that indicates a fence has been issued (and

[2020-01-21 21:39] nspark commented on #314
That wasn't the point of the example, which acknowledged that `shmem_put_signal` could be used there. The point is that applications (or their authors) will need to have some general sense of the relative cost of `shmem_ctx_fence_pe` vs. `shmem_ctx_fence`. If they're the same operation (or have nearly the same cost), the application will almost certainly choose a different synchronization pattern

[2020-01-21 21:47] shamisp commented on #314
This feature is integral part of Verbs and IBTA spec (post list). It actually the default API for sending messages. It definitely has performance benefits and provides some opportunities to reduce the number of memory barrier. It also comes with some overheads.

[2020-01-21 21:52] shamisp commented on #314
Something like post-list of request is much more powerful. User provides clear "plan" to the library what are the next steps and library can optimize those. It is difficult to optimize for fence.

[2020-01-21 21:55] shamisp commented on #314
@nspark - the cost might be runtime depended since with each allocation you can get different layout of nodes and as result, the cost will be highly inconsistent. The cost of operation will depend  on the transports that are used and locality.

[2020-01-21 22:03] bcernohous commented on #314
I agree it's difficult to to optimize which is why I'd like the use case spelled out.  I question the value of tracking PE completions (cost) vs per-PE fence (benefits) without hardware support.

[2020-01-23 22:09] rdesai16 opened #334 "Remove "Short" and "unsigned Short" from the supported data types for Shmem_wait/Shmem_test APIs"
I came across this issue while implementing vector APIs for shmem_test and shmem_wait. As of a recent change from PR #267 , shmem_wait and shmem_test only work with AMOs and based on this, the list of datatypes supported by both AMOs and wait/test APIs, should be the same. But currently that is not the case.

So basically the issue is that in current version, AMOs do not support data types "short"

[2020-01-24 00:29] manjugv commented on #314
@bcernohous the main use case that is driving this interface is very close to what Nick has posted. The DMAPP interface you mention can be used for it. In fact, as it was pointed out, it is supported in Verbs as well.

I made a choice of Per_PE_fence interface because it covers the use case that Nick has posted, it also expands the semantics to AMOs, and memory operations.  Besides that, for netwo

[2020-01-24 19:21] jdinan commented on #334
👍
I would suggest going a bit further and updating the wait/test routines to be defined according to the types in the extended AMOs table, removing the sync types table, and deprecating routines for the types not in the extended AMOs table. Will need to double check that the signal type is in the extended AMOs table.

[2020-01-24 19:33] davidozog commented on #334
I agree that we definitely want to consider removing the point-to-point types table and replacing with the appropriate AMO table.  I would guess that we wouldn't want the floating point types in the extended AMOs table to be compatible with the p2p types though (due to FP equality issues...).  Are you thinking we support comparisons like `CMP_EQ` on FP types @jdinan?

And yeah, the signal type is

[2020-01-24 20:00] jdinan opened #336 "Allow Type Extensions in shmem.h"
## Issue

OpenSHMEM places a strong restriction on interfaces defined in shmem.h:

Implementations that want to extend OpenSHMEM with support for additional types must prefix these functions with `shmemx_` and include their definition in `shmemx.h`. This is confusing for users (`shmem_int_p` vs `shmemx_float2_p`) and it prevents implementations from supporting these types in C11 generic selection

[2020-01-25 01:08] jdinan commented on #334
Yikes, good point about the floating point types.

[2020-01-29 23:04] naveen-rn commented on #195
Updated proposal for Feb-2020 F2F discussions:

## Space Proposal:1 - Supporting Team-based SHEAP

### Object:
[code]
### Collective Operations - Space Maintenance:
[code]
### Local Operations - Space Maintenance:
[code]
### Local Operations - Context Creation:
[code]
### Local Operations - Space-based Memory Allocation:
[code]
### New Context Options:
[code]
### Supported Usage Model:
1. Create m

[2020-01-31 19:57] jdinan commented on #319
Missed the feature cutoff for OpenSHMEM 1.5, pushing to OpenSHMEM 1.6.

[2020-01-31 20:00] jdinan commented on #258
@manjugv Was this closed by #259?

[2020-01-31 20:01] #253 closed

[2020-01-31 20:03] jdinan commented on #212
@manjugv This falls into your section committee. Do you want to tackle this for OpenSHMEM 1.5 or push to 1.6?

[2020-01-31 20:05] jdinan commented on #181
These functions are now deprecated, but it would still be nice to resolve this misleading text associated with the introduction of `SHMEM_SYNC_SIZE` in OpenSHMEM 1.4.

[2020-01-31 20:07] jdinan commented on #167
Resolved by #276

[2020-01-31 20:07] #167 closed

[2020-01-31 20:08] jdinan commented on #127
I believe that this is now resolved with the removal of Fortran in 1.5. Please re-open if I missed something.

[2020-01-31 20:08] #127 closed

[2020-01-31 20:09] jdinan commented on #133
Resolved with Fortran removal. Please re-open if there were non-Fortran examples that need to be fixed.

[2020-01-31 20:10] #133 closed

[2020-01-31 20:19] jdinan commented on #266
@nspark I think we resolved this in #276. Could you please check and close if this is resolved?

[2020-01-31 20:20] jdinan commented on #288
Closed by #306

[2020-01-31 20:20] #288 closed

[2020-01-31 20:24] jdinan commented on #336
I appreciate that this may not fit exactly into section committee work, but it would be great to have this very minor change in OpenSHMEM 1.5 (enabling standard and generic interfaces to support additional types), versus waiting until OpenSHMEM 1.6.

[2020-01-31 20:27] jdinan commented on #294
Decision was made to use tripled-based ordering.

[2020-01-31 20:27] #294 closed

[2020-01-31 20:28] jdinan commented on #285
Decision was made to used fixed ordering.

[2020-01-31 20:28] #285 closed

[2020-01-31 20:29] jdinan commented on #279
@jamesaross IIUC, this should have been closed by the addition of team collectives. Does the set of types added address this issue?

[2020-01-31 20:31] jdinan commented on #262
Related to #336

[2020-01-31 20:32] jdinan commented on #243
@minsii Is this issue resolved? If it is only partially resolved, it might be helpful to create one or more issues for additional work to be done on interoperability (and possibly assign to the OpenSHMEM 1.6 milestone).

[2020-01-31 20:34] jdinan commented on #242
I think it's safe now to close this issue. If anyone feels otherwise, please re-open.

[2020-01-31 20:34] #242 closed

[2020-01-31 20:37] jdinan commented on #241
I think this may be easiest to address via the updated Memory Model section in front matter. Assigning to myself to volunteer to draft the relevant text.

[2020-01-31 20:38] jdinan commented on #235
@jamesaross Is this resolved by the new teams collectives API?

[2020-01-31 20:40] jdinan commented on #230
@nspark Has this been resolved?

[2020-01-31 20:41] jdinan commented on #198
Resolved by #254

[2020-01-31 20:41] #198 closed

[2020-01-31 20:42] jdinan commented on #183
I think we can safely close this, now that F*****n routines have been removed.

[2020-01-31 20:42] #183 closed

[2020-01-31 20:44] jdinan commented on #180
We may also need the notes to users blurb stating (reminding, I hope) that user contexts need to be quieted before calling free.

[2020-01-31 20:47] #58 closed

[2020-01-31 20:54] jdinan commented on #134
This text is now in Section 9.2 item 4. I also agree that this does a poor job of capturing the semantic. It actually reads like the MPI text describing multithreaded send/recv, indicating that MPI will induce a matching order on send and receive operations. I think we can improve the document by simply deleting "and the outcome will be as if the calls executed in some order, even if their executi

[2020-01-31 20:58] jdinan commented on #74
Collectives section committee, please review and determine if any clarifications should be added.

[2020-01-31 22:22] #265 closed

[2020-01-31 22:23] jdinan commented on #248
This was resolved for OpenSHMEM 1.5, thanks for all the insightful discussions.

[2020-01-31 22:23] #248 closed

[2020-01-31 22:32] jdinan opened #339 "OpenSHMEM Memory Model Part Deux"
## Summary

This ticket is a follow-on to #229 with the goal of filtering out issues that have already been addressed in OpenSHMEM 1.5 and organize memory model work for OpenSHMEM 1.6.

This issue is work in progress and not yet ready for discussion.

## Open Issues

### Ordering of blocking fetching operations

* Blocking gets should be unordered to support weak memory models
  * May require the

[2020-01-31 23:11] manjugv commented on #258
Yes @jdinan. Closing it now.

[2020-01-31 23:11] #258 closed

[2020-02-03 23:07] davidozog commented on #74
I think @krzikalla's clarifying statement is a very good one.  I'd like to propose a few minor edits if that's ok:

<pre>
Accessing <b>symmetric</b> memory involved in a collective routine while the PE
is processing that collective results in undefined behavior. Since PEs can
enter and exit collectives at different times, accessing such memory remotely
<b>may</b> require<strike>s some</strike> add

[2020-02-04 16:15] minsii commented on #243
@jdinan Yes, it is resolved. The remaining issue has been moved to a separate issue [#263](https://github.com/openshmem-org/specification/issues/263). I will assign #263 to the 1.6 milestone.

[2020-02-04 16:16] #243 closed

[2020-02-04 16:31] nspark opened #341 "Provide NUMA awareness/control of (local) symmetric memory"
Current OpenSHMEM implementations do not provide interfaces for querying or controlling the NUMA affinity of either individual symmetric allocations or the entire symmetric heap. Further, some implementations allocate and pin the symmetric heap during OpenSHMEM initialization, which prevents the application from using traditional "first touch" practices to establish the desired NUMA affinity.

App

[2020-02-04 18:01] manjugv commented on #134
@jdinan The suggestion looks fine to me.

[2020-02-04 18:43] naveen-rn opened #342 "shmem_team_config parameter taking void *pointer"
In SBU F2F, we discussed about adding a void *pointer inside the shmem_team_config parater - which can then be used by implementers to define their own team configuration parameters. I'm not sure whether it is added in the current 1.5 draft.

[2020-02-04 19:18] manjugv commented on #134
Addressing via https://github.com/manjugv/specification/pull/13

[2020-02-04 19:20] manjugv commented on #180
@jamesaross Do you want to propose a PR, to address this in the committee? We have some discussion time for this tomorrow.

[2020-02-04 19:22] jamesaross commented on #279
The unsigned char type continues not to have min/max/sum/prod.
https://github.com/gmegan/specification/blob/7df7b170d1f2a14063175e64e8ee966bdb058755/content/shmem_reductions.tex

Reduction operations exist for these RMA types:
[code]

Reduction operations *do not exist* for these RMA types:
[code]

I don't feel strongly about adding them to 1.5.  It's just seemed logically inconsistent to support

[2020-02-05 13:16] RaymondMichael commented on #313
We could tack on something like, "The contents of this specification, including the code examples, are free to be included in other publications. A copy of this copyright must accompany them."

[2020-02-05 13:27] RaymondMichael commented on #262
Jim can you add a proposed solution?

[2020-02-05 15:52] jdinan opened #344 "Jim's Name is Spelled Wrong"
Just kidding.

[2020-02-05 15:53] #344 closed

[2020-02-05 16:03] nspark opened #345 "Review alltoall[s] intro blurb"
The intro blurb for `shmem_alltoall[s]` starts with the function name itself, which is different from all the other APIs.

[2020-02-05 16:33] jamesaross commented on #180
@manjugv, what you proposed (to change `shmem_barrier_all` to `shmem_sync_all`) is a semantics change.  It would change/break the behavior of certain codes, specifically, the snippet I included above.  I still don't know how to resolve this other than to leave it unchanged.  The specification has committed to a semantic `shmem_quiet` operation for collective memory operations.  This may be fine, d

[2020-02-05 16:48] agrippa opened #346 "Review APIs that take a team argument and verify they specify behavior for SHMEM_TEAM_INVALID"

[2020-02-05 16:48] wrrobin opened #347 "Check and validate the examples in Teams section"
Double-check for any changes with @davidozog or @wrrobin

[2020-02-05 16:51] wrrobin opened #348 "Review APIs that take a context argument and verify behavior for SHMEM_CTX_INVALID"

[2020-02-05 17:36] agrippa commented on #346
Most APIs that accept a team specify their behavior in the presence of an invalid team. Most of these APIs use consistent wording, e.g. "If team compares equal to SHMEM_TEAM_INVALID then ... If team is otherwise invalid, the behavior is undefined."

shmem_sync uses slightly different wording: "If an invalid team handle or SHMEM_TEAM_INVALID is passed to this routine, the behavior is undefined." Th

[2020-02-05 17:53] shamisp commented on #293
@BryantLam Is there community agreement on this ? I was not present at the meeting ?

[2020-02-05 17:59] manjugv opened #351 "Change reference of ptr to addr in memory alloc routines"
It seems like this PR #276 missed changes to memory alloc routines.

[2020-02-05 18:07] agrippa commented on #346
Opened pull request https://github.com/openshmem-org/specification/issues/346

[2020-02-05 18:27] jamesaross commented on #230
@nspark It's being resolved by #237 and also #350.

[2020-02-05 18:34] BryantLam commented on #293
@shamisp - From the full-group discussion at the Sep 2019 F2F, I filed this issue as an action item for the Teams working group. I don't think a conclusion was reached that day.

[2020-02-05 18:38] manjugv opened #352 "Barrier All/Sync All in memory routines should be on SHMEM_TEAM_WORLD ?"

[2020-02-05 18:44] naveen-rn commented on #293
Duplicate issue https://github.com/openshmem-org/specification/issues/342 - closing the other issue - as this has more discussion traffic

[2020-02-05 18:46] #342 closed

[2020-02-05 19:01] shamisp commented on #293
@BryantLam - I think we have two separate issues here.
1. Do we allow vendor specific extension within existing text. I don't think we prohibit this explicitly but I don't think we have spell this out in the text.

2. Current ```int shmem_team_get_config(shmem_team_t team, shmem_team_config_t *config)```
does not pass config mask as a separate argument and as a result binary backward compatibility

[2020-02-05 19:02] wrrobin commented on #348
Addressed in #353 and #349

[2020-02-05 19:16] agrippa commented on #320
Opened PR https://github.com/jdinan/specification/pull/6

[2020-02-05 19:18] manjugv commented on #212
Moving to 1.6

1. Too much for 1.5 and a couple of tickets might actually change it.
2. Spaces and memory kinds can impact this ticket and might have to rework the section.

[2020-02-05 19:23] naveen-rn commented on #293
+1

[2020-02-05 19:25] agrippa commented on #352
With the addition of teams, we need to clarify that the barriers performed in shmem_malloc, free, realloc, calloc, malloc_with_hints are on SHMEM_TEAM_WORLD team.

[2020-02-05 19:29] agrippa commented on #351
An example change from PR #276 :

Old text: A pointer to the remotely accessible data object to be updated.
New text: Symmetric address of the destination data object.

We would like to make similar updates in 1.5, as it looks like the memory management routines were missed.

[2020-02-05 19:41] nspark opened #355 "Revise contributors list to a versioned-over-time list"
For clarity and historical accuracy, we should update the contributors list to be versioned (e.g., 1.5, 1.4...) and preserve affiliations at the time of the release.

[2020-02-05 19:57] agrippa commented on #352
Addressed in https://github.com/manjugv/specification/pull/15

[2020-02-05 20:06] agrippa commented on #351
Create a PR https://github.com/manjugv/specification/pull/16

[2020-02-05 20:31] agrippa commented on #292
I can't find the text mentioned in https://github.com/gmegan/specification/issues/139 anywhere in Section 9.4 of the current version of the spec. Is it possible this text has already been changed and this issue is out of date?

[2020-02-05 20:58] BryantLam commented on #293
@shamisp - Oops. You're correct. This issue is specifically about vendor extensions. I personally would favor consistency and if the other APIs already have `config_mask`, adding it here to `shmem_team_get_config` is reasonable.

[2020-02-05 21:11] nspark opened #357 "Remove instance of "partial update""
`shmem_signal_wait_until` includes:

We've tried to remove references to "partial updates", and this is one lingering issue. Suggest:

[2020-02-05 21:13] wrrobin commented on #241
@jdinan Should this also clarify defining local and remote completion?

[2020-02-05 21:25] jdinan commented on #241
Scratch that, this will go in "Invoking OpenSHMEM Operations" in the Execution Model section.

[2020-02-05 21:39] manjugv opened #360 "Clarify notes or remove shmem_pe_accesible and shmem_addr_accessible"
Addressed via https://github.com/manjugv/specification/pull/17

[2020-02-05 22:04] davidozog commented on #296
Addressing here:
https://github.com/davidozog/openshmem-specification/tree/sec/backmatter-undefined_teams_behavior

and open to suggestions!

[2020-02-05 22:17] nspark commented on #228
I'm working on... (which will be updated here)

- Local completion
- Remote completion
- Blocking
- Nonblocking

[2020-02-05 22:17] naveen-rn commented on #179
@manjugv will create a fix for this issue - it looks like he has grapple in his mac - which he can use to update the diagram

[2020-02-05 22:33] manjugv commented on #180
We will move this ticket to 1.6 and address via a regular ballot process.

[2020-02-05 22:53] naveen-rn commented on #334
Please clarify.

[2020-02-05 23:04] nspark commented on #311
Here's the path we're taking...

- Split the reduction types table between team- and active-set-based reductions
- Add type support for fixed-width integer types (including `size_t` and `ptrdiff_t`) to team-based reductions
- Set the type support for active-set-based reductions as matching the API of OpenSHMEM 1.4; i.e., 1.5 will not add any new active-set reduction types.

Here's the main point o

[2020-02-06 13:57] RaymondMichael commented on #355
Looking at the current PR, this appears to be an add-only list. What are your thoughts for handling when people leave the effort or move between organizations?

[2020-02-06 15:25] nspark commented on #355
I think listed affiliations should represent the contributor's affiliation at the time the time of their contribution. If a contributor moves between organizations during a release, then the listed affiliation should probably be their "final" affiliation. If a person stops contributing to OpenSHMEM, they will not be listed in future versions of the specification.

Examples:

- John D. works for XY

[2020-02-06 15:41] nspark commented on #228
From @wrrobin:

- Local completion: Completion of an operation that indicates the availability of local resources for safe reuse.
- Remote completion: Completion of an operation that indicates the availability of remote resources for safe reuse.
- Blocking: An operation that halts execution until the operation is complete, either locally or remote.
- Nonblocking: An operation that does not halt ex

[2020-02-06 15:47] jdinan commented on #284
Delay until #228 defines routine and operation.

[2020-02-06 17:28] jdinan opened #361 "Integration of Spaces with Teams/Contexts"
This ISSUE describes the various options that can be used to link a context to a particular team and space. Now, the default ```shmem_ctx_create``` creates a context with a set of ```options```, and ```shmem_team_create_ctx``` creates a context with a set of ```options``` on a particular ```team```.

How do we handle when we introduce space in OpenSHMEM-1.6? Do we introduce a new API, break compat

[2020-02-06 17:35] shamisp commented on #216
Please take a look at #362.

[2020-02-06 17:39] naveen-rn commented on #361
#### Vote:1 Do we need to fix now?

| Vote | Count |
|------|--------|
| Fix Now (either option:1(a), option:1(b), option:2, option:5) | 0 |
| Fix Later (either option:3, option:4, option:6) | 0 |

#### Vote:2 Select a particular Fix, if vote:1 passes with ```Fix Now```:

| Vote | Count |
|------|--------|
| Option:1 (a) | 0 |
| Option:1 (b) | 0 |
| Option:2 | 0 |
| Option:5 | 0 |

#### Vote:3 Sel

[2020-02-06 17:40] jamesaross commented on #179
@manjugv Would it be possible for you to port the OmniGraffle/grapple figures to Inkscape SVG? Inkscape is open source and supports for Windows, Linux, and MacOS, enabling everyone to modify them.  Inkscape can also export to PDF by command for including the figures when building the document.

[2020-02-06 17:57] shamisp commented on #293
Proposed #363 please take a look and comment.

[2020-02-06 18:51] #230 closed

[2020-02-06 21:13] davidozog commented on #334
I think @jdinan meant "standard" (not extended) AMOs table, and we need to assure the "signal type" (`uint64_t`) is covered by the proposed change - and it is.  I've posted that change [here](https://github.com/naveen-rn/specification/pull/3).

[2020-02-07 14:48] RaymondMichael commented on #355
That works

[2020-02-07 16:11] jdinan opened #365 "Improve Strided API"
## Issue

The current interleaved communication routines in OpenSHMEM (`shmem_iput/iget`) transfer single element chunks that are a fixed stride apart (source and destination can have different strides). This is inefficient for applications that wish to transfer larger array sections.

## Possible Solutions

### Block Interleaved API
Extend the existing SHMEM interleaved APIs (e.g. `shmem_iput`) t

[2020-02-07 16:40] naveen-rn commented on #365
Related:
[Extending Strided Communication Interfaces in OpenSHMEM](https://www.researchgate.net/publication/297734932_Extending_the_Strided_Communication_Interface_in_OpenSHMEM)
[Towards Matrix Oriented Strides in OpenSHMEM](https://dl.acm.org/doi/10.1145/2676870.2676888)

[2020-02-07 17:19] naveen-rn opened #366 "Create Team Duplicate options"
Define a semantics for team duplication by inheriting the parent teams resources and just a new handle that can be used for collectives.

[2020-02-08 14:32] jdinan commented on #262
Closed by https://github.com/RaymondMichael/specification/pull/23

[2020-02-08 14:32] #262 closed

[2020-02-08 14:33] jdinan commented on #336
Closed by https://github.com/RaymondMichael/specification/pull/23

[2020-02-08 14:33] #336 closed

[2020-02-09 13:23] jdinan commented on #279
Assigning to RMA section committee.

[2020-02-09 13:29] jdinan commented on #313
This may be too restrictive, since it's necessary to make some modifications in order to include the text in manpages (or a user guide) and runnable unit tests. Also, it would be great to introduce a normal copyright statement (e.g. Copyright (C) 2020 OSSS).

[2020-02-10 14:40] jdinan commented on #342
Discussed at the Feb. 2020 FTF and IIRC the conclusion was that the config parameter is already intended to allow for implementation-defined extensions (fields), so adding a `void *` to the specification is not necessary.

[2020-02-10 15:16] jdinan commented on #292
It looks like the text was changed to the following:

@agrippa Looks to me like we can close this issue (and gmegan#139).

[2020-02-10 15:36] jdinan commented on #357
#358 was reverted, making a note here to cherry-pick the relevant commit from openshmem-org:master and merge into the relevant section committee's branch.

[2020-02-10 15:38] jdinan commented on #241
@wrrobin The concepts are definitely related. Interested in your feedback on RaymondMichael#26.

[2020-02-10 15:50] jdinan commented on #180
The user contexts quieting change is a reminder to users of the current behavior. We have such text already elsewhere in the spec that can be copy/pasted.

[2020-02-10 15:51] jdinan commented on #180
Clearing from OpenSHEM 1.5 section committee project, since this was pushed to the 1.6 milestone.

[2020-02-10 15:56] jdinan commented on #228
IIUC, quiet is the only blocking operation that returns upon remote completion. However, I suspect we can have an academic debate about whether this is required by the specification, or whether quiet can return immediately and block on the next communication operation in certain circumstances (e.g. when SHMEM_TEAM_SHARED contains only the local PE).

[2020-02-10 15:59] jdinan commented on #361
@naveen-rn If I understood correctly, the preference from last week was for implement Option 2 for OpenSHMEM 1.5:
[code]

[2020-02-10 16:03] jdinan commented on #293
If we feel that users setting the config mask is too bothersome, we can add a compile time constant `SHMEM_TEAM_CONFIG_MASK_ALL` that users can pass to query all fields. Since it is a compile time constant from the SHMEM library used to build the application, implementations can set the bits so that it is forward compatible with future ABI as we have discussed.

[2020-02-10 17:32] wrrobin commented on #241
Thanks @jdinan. This change looks good to me. Do you think we should add/update any texts in Section 9 API descriptions (e.g. `shmem_quiet` or `shmem_fence`) to refer to the `in use` clause mentioned in RaymondMichael#26?

[2020-02-11 01:12] manjugv commented on #179
@jamesaross @naveen-rn @jdinan I have created a PR #368  with diagrams in SVG format. Also, I have addressed the use of deprecated constant in wait (and created new version of figure wait_v2). Please feel free edit/update the diagrams.

I have a PR against main spec. Does this have to go to a specific section committee or whole doc edit ?

[2020-02-11 01:54] jdinan commented on #241
Those are two of the hardest to edit sections in the spec. But, improvements are always welcome. 😁

[2020-02-11 01:57] jdinan commented on #179
At this stage, my preference is to only merge changes to section branches. If that is hard to do in this case, we can merge it to master. This particular change seems very unlikely to cause a merge conflict. What's your recommendation?

[2020-02-11 16:27] manjugv commented on #179
I can do either. But it is easier to review and merge this branch, though :) Does this go to Naveen's section. If so, whatever he prefers is fine with me.

[2020-02-12 12:38] nspark opened #370 "Fix possessive acronyms in LaTeX"
There are a few examples of possessive acronyms in the Specification. While these are unlikely to cause a true formatting issue, it is possible.

See an example here:
https://github.com/openshmem-org/specification/blob/ee7e8b43c9513115a6ab9d3eb9224eb76612d08c/content/backmatter.tex#L206-L207

The formatting issue would appear as "Silicon Graphics International (SGI)'s" vs. "Silicon Graphics Intern

[2020-02-12 13:03] minsii opened #371 "Replace default team with world team"
The term "default team" is used in several sections. But it is unclear what the default team is unless read the definition in section 7. Library Handles. Replacing it with "world team" should fix this issue. The following sections should be updated:

- [x] Library Handles
- [x] Teams and context
- [x] RMA
- [x] Collectives
- [x] Memory management

[2020-02-12 18:38] jdinan commented on #179
Technically, I think this is a section committee change that should go through our normal review process. But, we can try to make an exception if that would complicate the process. 🤷‍♂

[2020-02-14 17:19] shamisp commented on #216
Moved here https://github.com/shamisp/specification/pull/1

[2020-02-14 17:31] shamisp commented on #293
Patch moved here https://github.com/jdinan/specification/pull/9

[2020-02-18 15:37] jdinan opened #374 "Team Config Query Semantics"
## Issue

Clarify whether `shmem_team_get_config` returns the values provided in the config argument during team creation or the current (implementation defined) values for these parameters.

## Sub-Issues

Add a `SHMEM_TEAM_CONFIG_MASK_ALL` compile-time constant to make it easier to query/set all config parameters (for the given ABI that the application was compiled with).

Specify a `SHMEM_TEAM_

[2020-02-21 15:05] shamisp commented on #374
@jdinan do you see this as 1.5 or 1.6 item ?

[2020-02-21 15:35] jdinan opened #375 "Deprecate Active Set Constants"
The active set collectives are deprecated in OpenSHMEM 1.5 and replaced by team-based collectives. However, I think we neglected to deprecate the constants (e.g. `SHMEM_SYNC_SIZE`) associated with these deprecated routines.

I believe there is work here both for front matter @RaymondMichael and back matter @BryantLam.

[2020-02-24 18:45] RaymondMichael commented on #375
I created this PR for it, https://github.com/RaymondMichael/specification/pull/28
I'm having the problem I had before though, in that I can't assign reviewers to it.

[2020-02-24 20:17] jdinan commented on #375
@RaymondMichael Will need to add the committee members as contributors on his fork (and they will need to accept) in order to be able to assign them as reviewers. Otherwise, you can just call them out by name in the discussion view and have them comment with their approval.

[2020-02-25 20:23] jdinan commented on #361
@naveen-rn What's the status of this issue? Are we adding the above for OpenSHMEM 1.5?

[2020-02-25 20:37] jdinan commented on #361
@manjugv Is still having mixed thoughts on this approach.

[2020-02-25 22:03] #320 closed

[2020-02-25 22:05] #348 closed

[2020-02-25 22:13] jdinan commented on #347
@davidozog @wrrobin Are there any changes on the SOS side that should be reflected in these spec examples?

[2020-02-25 22:14] #293 closed

[2020-02-25 22:16] #292 closed

[2020-02-25 22:24] jdinan commented on #303
@naveen-rn @nspark Are we happy with the current text on this? Plus, the extra mention in Annex C that @davidozog is working on?

[2020-02-26 01:49] jdinan opened #376 "Clarify that in *mem routines, nelems is bytes"
User request to clarify that in the new *mem collective routines, `nelems` refers to number of bytes.

Ref: https://github.com/Sandia-OpenSHMEM/SOS/issues/936

[2020-02-26 01:50] jdinan commented on #376
@nspark Can this be addressed by the collectives section committee?

[2020-02-26 14:55] naveen-rn opened #377 "Separate malloc hints for signal updates"
In OpenSHMEM-1.5, we have SHMEM_MALLOC_SIGNAL_REMOTE as a single hint for both the signal operation, we might want to deprecate this or provide another two constants SHMEM_MALLOC_SADD_REMOTE and SHMEM_MALLOC_SPUT_REMOTE, where SPUT and SADD is for signal PUT and signal ADD respectively.

Not sure, whether we can do this for OpenSHMEM-1.5.

[2020-02-26 15:11] manjugv commented on #377
@naveen-rn What is the motivation to have different hints for different signals? do you plan to implement different strategies based on the hint?

[2020-02-26 15:39] naveen-rn commented on #377
yes.

[2020-02-26 16:08] nspark commented on #228
Using @jdinan's wording on "in-use" (see https://github.com/openshmem-org/specification/pull/340/commits/7ef07ea354c9b71e0b602b213f1cf730334020af):

Here are some proposed definitions:

- *Local completion* specifies the point (in time) at and after which a local buffer provided to an OpenSHMEM routine is no longer in-use by that operation.
- *Remote completion* specifies the point (in time) at an

[2020-02-26 16:45] nspark opened #378 "Remove cache management routines"
Should we remove the cache management routines section? IIRC, it started as deprecated in OpenSHMEM 1.0, but we kept it in because deprecated ≠ removed; however, we've since removed deprecated APIs, so it seems reasonable to consider taking it out entirely now.

Any thoughts?

[2020-02-26 17:09] manjugv commented on #377
@naveen-rn More information about the implementation strategies and why it requires more specific hint might help. Let's discuss this in the next working group (March 2nd).

[2020-02-26 17:47] jamesaross commented on #377
Some thoughts for discussion...

There are two hints now which can be bitwise OR'd, resulting in 2^2 possible hints.  This proposal would increase the number of hints to 2^3.

For completeness, we also have the `SHMEM_MALLOC_ATOMICS_REMOTE` hint for all atomic operations, so should we add the following hints as well?
[code]
One could imagine implementing different strategies based on the hint.  Bu

[2020-02-26 17:56] naveen-rn commented on #377
I was thinking about this same logic for sometime. Consider the following analysis:

1. You don't need different hints for atomics - because you couldn't split the atomics implementation. Atomics are atomic with respect one another. So, I'm not sure how could an/any implementation - provide such a semantic guarantee with different implementations for different atomics.

2. put-with-signal is atomi

[2020-02-26 21:08] nspark commented on #303
I think we could revise the _Collectives_ introduction as follows (**added**/~~removed~~ text):

Still, this doesn't actually address the implicit, disjoint nature of (internal) resources between teams and active sets. I'm not sure I want to actually add something saying "it's safe to use active-set-based collectives concurrently with team-based collectives in multiple threads...", since that's no

[2020-02-26 21:28] RaymondMichael commented on #228
When we talk about local completion in terms of buffers, you can wind up saying that a const argument can be considered locally complete. While that may be true, it feels wrong. You could change you latest local completion definition to say, "...after which *all* local buffers...". I think this is an improvement. Still, I think discussing completion in terms of operations, as opposed to modificati

[2020-02-26 21:43] nspark commented on #228
:+1: on "..._all_ local buffers..."

We're not saying the buffer is complete, but that the operation is (locally or remotely) complete based on whether the buffer in question can be (re)used. But, if the wording feels wrong, we should revise it; I'd like it to both be correct and clear.

Am I correct in interpreting that the definitions I posted at the F2F ("in terms of operations") are more natur

[2020-02-26 22:29] nspark commented on #376
Will do. It's worth noting that this ambiguity also exists for RMA routines.

[2020-02-26 22:59] nspark commented on #376
@jdinan How does this look...?

![broadcast-bytes](https://user-images.githubusercontent.com/2961664/75396016-8619ed80-58c1-11ea-8433-11d72a94d6dd.png)

Or, would it be more clear to put this in the API description?

[2020-02-26 23:29] BryantLam commented on #166
As of ee7e8b43c9513115a6ab9d3eb9224eb76612d08c:

* non
  - nonblocking
  - nonnegative
  - nonzero*
* non-
  - non-fetching
  - non-initializing
  - non-existent
  - non-symmetric
  - non-atomic
  - non-collective
  - non-power-of-two (exceptional)
  - non-null
  - non-reentrant
  - non-standard
  - non-profit
  - non-const
  - non-hybrid (weird)
  - non-OpenSHMEM (weird)
  - non-critical (weird)

[2020-02-27 01:24] nspark commented on #166
@BryantLam I think the counts paint a slightly different picture...

[code]

The counts are almost evenly split, but it seems like—where it most matters (with nonfetching and nonzero—we favor "non" over "non-".

[2020-02-27 04:53] BryantLam commented on #166
I would argue the opposite since uniqueness is an indicator of what text authors tend to prefer when naively picking between "non" and "non-".

Also, I had a previous PR where I changed at least three "non-blocking" into "nonblocking" which is why this issue originated and why I marked nonzero as another conflict word still in the document today.

[2020-02-27 15:27] shamisp commented on #378
Remove.

[2020-02-27 20:27] jdinan opened #382 "Add Signal API"
## Issue

Signaling is used for point-to-point synchronization. With OpenSHMEM 1.5 we removed support for `shmem_p` as a signal operation.

Current replacements for `shmem_p` are `shmem_set` (or another AMO) or zero-length `shmem_put_signal`. Atomic set must be atomic with respect to all other AMOs; signals can provide better performance (only require single-copy atomicity).

Put-with-signal can b

[2020-02-27 20:43] jdinan commented on #377
In no particular order: (1) Why is this assigned to me? (2) What?! (3) Atomics can be implemented differently based on datatype (ducks for cover). (4) No, I would not recommend this as a section committee edit.

[2020-02-27 20:48] jdinan commented on #303
Sounds good to me. Per #371 please use "world team" instead of "default team".

[2020-02-27 21:11] jdinan commented on #376
What about in the `apiargument` description for `nelems`? I thought we had a routine that covers it there, but I'm not able to find it now.
[code]
This might be easy enough to apply to all of the *mem routines, what do you think?

[2020-02-27 21:22] jdinan commented on #166
If we look at the number of characters, there is a clear winner:
[code]

[2020-02-27 21:39] jdinan commented on #378
Please also add a changelog entry to mark the removal.

[2020-02-27 21:53] jdinan commented on #228
In the first definitions, I think it would be better to talk about local completion of objects and then pull that together to describe local completion of the operation. This is roughly what I'm thinking, although there's plenty of room to improve the verbiage:
* For an OpenSHMEM operation that reads a local object of memory—for example, the source argument of shmem_put or shmem_team_broadcast for

[2020-02-27 21:59] jdinan commented on #371
@minsii If all the changes are merged, could you please close this issue?

[2020-02-27 22:01] jdinan commented on #346
@agrippa Are all of the edits merged to the respective sections? If so, please close this issue. Thanks!

[2020-02-27 22:03] minsii commented on #371
Github shows all merged :-)

[2020-02-27 22:03] #371 closed

[2020-02-27 22:27] #346 closed

[2020-02-28 00:51] BryantLam opened #383 "Subsection SHMEM_REDUCTIONS should be ordered last?"
In the document, section 9.11.7 SHMEM_REDUCTIONS is ordered between COLLECT/FCOLLECT and ALLTOALL, ALLTOALLS. Should it be? I would prefer a reordering where SHMEM_REDUCTIONS is the last subsection.

[2020-02-28 01:34] BryantLam commented on #378
I don't think any Section owns this task so I'll take it since it affects backmatter the most.

[2020-02-28 22:34] davidozog commented on #347
Please see https://github.com/jdinan/specification/pull/11

[2020-02-29 01:38] nspark commented on #376
I'm not crazy about those argument description sections, but it seems like a compact change.

[2020-02-29 14:18] jdinan opened #385 "Update nelems description for pt-to-pt operations"
Apply the update in 30a0f0c to the point-to-point *mem (putmem, getmem, etc.) and fixed-width operations (e.g. shmem_put32).

[2020-02-29 14:21] jdinan commented on #376
Thanks, agree that it's not ideal, but it looks like a change we can apply across the remaining routines without much trouble. If you'd like to include a top-level description, we could also add the `nelems` semantics to the front matter where we describe properties of buffers passed to OpenSHMEM operations.

[2020-02-29 14:23] jdinan commented on #385
This is in response to a user request for clarification: #376

[2020-02-29 14:23] jdinan commented on #376
Pushing this issue to the RMA section, since the collective part of the fix is now resolved.

[2020-02-29 17:32] wrrobin commented on #268
Discussed in wrrobin#2

[2020-03-01 06:01] wrrobin commented on #268
Resolved in #387

[2020-03-01 06:01] #268 closed

[2020-03-02 15:48] jdinan opened #388 "Back Matter Checklist"
* [x] Review deprecated functions
* [x] Review changelog
* [x] Review index for new constants, types, functions, etc

[2020-03-02 15:50] jdinan commented on #179
@manjugv is this issue resolved?

[2020-03-02 15:54] naveen-rn commented on #179
Done - merged to Section Committee branch.

[2020-03-02 15:54] #179 closed

[2020-03-02 16:03] #216 closed

[2020-03-02 16:06] #134 closed

[2020-03-02 16:06] #352 closed

[2020-03-02 16:07] #351 closed

[2020-03-02 16:10] jdinan commented on #241
Anything more we want to do on this issue, specifically to address nonblocking operations?

[2020-03-02 16:12] #355 closed

[2020-03-02 16:13] jdinan opened #389 "Add active set library constants to deprecation table"
https://github.com/BryantLam/openshmem-specification/pull/6

[2020-03-02 16:14] jdinan commented on #375
Back matter work forked to #389

[2020-03-02 16:14] #375 closed

[2020-03-04 14:59] davidozog opened #391 "Review teams example programs"
I've proposed some changes to the teams example programs, and that PR is here on @jdinan's fork:

https://github.com/jdinan/specification/pull/11

Assuming these changes are appropriate/timely for the RC2 document, could I please get some feedback and a review from the Teams/Contexts section committee on that PR?  Thanks!

Related issue: #347.

[2020-03-04 15:11] jdinan commented on #266
@nspark Could you please check whether this issue is resolved?

[2020-03-04 15:17] jdinan commented on #357
@naveen-rn Has this issue been addressed?

[2020-03-04 15:22] jdinan commented on #99
@nspark Please close this issue if you feel that your terms section addresses it.

[2020-03-04 15:24] jdinan commented on #235
@jamesaross Ping

[2020-03-04 15:25] #328 closed

[2020-03-04 15:26] #326 closed

[2020-03-04 15:27] jdinan commented on #151
@nspark Are you planning to implement this change as a section edit for OpenSHMEM 1.5?

[2020-03-04 22:12] #357 closed

[2020-03-04 22:13] naveen-rn commented on #357
Issue closed as part of https://github.com/naveen-rn/specification/pull/5

[2020-03-10 13:37] jamesaross commented on #235
@jdinan No, this wasn't resolved.  Looks like it was pushed to 1.6.

[2020-03-10 13:57] jdinan commented on #235
IIRC, we decided that we would not introduce any new types for the legacy (active set) collectives. Does this issue exist with the teams collectives? If so, we should try to address it in OpenSHMEM 1.5.

[2020-03-10 18:13] jamesaross commented on #235
@jdinan, It depends which teams collectives you're discussing.  If you're discussing the `shmem_collect` and `shmem_fcollect` team collectives, they currently use Table 5 types in the 1.5rc1 draft, which include all of the integral types (see Table 5 below).  If you mean the `shmem_[OP]_reduce` collectives, they use Table 9, which doesn't list most integral types (see Table 9 below).

 * I think i

[2020-03-10 18:16] jamesaross commented on #279
@nspark, your improvements look good to me.  I submitted pull request #392 to fix the `short *pWrk` in the deprecated active set reductions.

How far does this kick back the 1.5 timeline to include the additional team reduction type support?

[2020-03-10 18:26] nspark commented on #279
@jamesaross I'm not sure what you mean by delaying 1.5. I think we have a chance to revise the RC one more time before ratification. Thanks for catching the copy-paste error!

[2020-03-10 18:30] jamesaross commented on #279
For those following along, in case it's not clear from the single referenced commit, the deprecated active set reductions (`shmem_[TYPENAME]_[OP]_to_all`) and team reductions (`shmem_[TYPENAME]_[OP]_reduce`) as they are today have the following type support:

| **TYPE** | **TYPENAME** | (*Operations* | *Supporting* | *TYPE*) |
|------|------|------|------|------|
| unsigned char | uchar | AND, OR,

[2020-03-10 18:35] nspark commented on #279
As of 1.5rc1, the team-based reductions use Table 9:

![reduction-types](https://user-images.githubusercontent.com/2961664/76346765-ec4c3a80-62db-11ea-9c24-1f78ce734be8.png)

Whereas, the active-set-based reductions use Table 10:

![reduction-types-aset](https://user-images.githubusercontent.com/2961664/76346987-3f25f200-62dc-11ea-9d0d-af2d71157e0c.png)

Unless I'm misunderstanding something, this

[2020-03-10 18:37] nspark commented on #279
No, those are intentionally omitted. The bitwise operations for AMOs on these types were excluded because they're not guaranteed to have twos-complement representations. (This may change in C++next and get some future C standard.) So, in keeping consistent with the AMOs, we omitted bitwise operations on signed types not explicitly specified as having a twos-complement representation.

[2020-03-10 18:51] jamesaross commented on #279
You're not misunderstanding something. This is what I want.  I was mistaken and looking at an older draft of the PDF, not the 1.5rc1 that Jim emailed. Thank you, Nick.

[2020-03-10 18:51] #279 closed

[2020-03-10 18:52] #235 closed

[2020-03-10 19:05] jdinan commented on #279
@jamesaross Thanks for following-up and working through this -- really appreciate the careful attention to detail!

[2020-03-10 20:12] nspark commented on #345
Closed by 1.5rc1

[2020-03-10 20:12] #345 closed

[2020-03-10 20:12] nspark commented on #383
Closed by 1.5rc1

[2020-03-10 20:12] #383 closed

[2020-03-10 20:12] nspark commented on #311
Closed by 1.5rc1

[2020-03-10 20:12] #311 closed

[2020-03-10 20:12] nspark commented on #74
Closed by 1.5rc1

[2020-03-10 20:12] #74 closed

[2020-03-10 20:12] nspark commented on #181
Closed by 1.5rc1

[2020-03-10 20:12] #181 closed

[2020-03-10 20:37] nspark commented on #266
@jdinan I think #276 resolves the example in the opening comment, but it _does not_ resolve the following "questionably allowed" example:

[code]

Do we want to prohibit such behavior?

As of 1.5rc1, `shmem_wait_until` expects `ivar` to be a "local address of a remotely accessible data object," and `shmem_ptr` returns "a local address to a remotely accessible data object."

Proposed fix: Require `

[2020-03-10 20:46] nspark opened #393 "Should shmem_wait_until take a local or symmetric address?"
PR #276 clarified the distinction between local addresses and symmetric addresses. It also updated the API listings to specify whether they expect local or symmetric addresses to remote data objects.

As of 1.5rc1, `shmem_wait_until` expects `ivar` to be a "local address of a remotely accessible data object," and `shmem_ptr` returns "a local address to a remotely accessible data object." This allo

[2020-03-10 20:48] nspark commented on #266
Closing, as #276 does indeed clarify the specifics of this issue

[2020-03-10 20:48] #266 closed

[2020-03-10 20:50] nspark commented on #393
Tagging the Synchronization, Ordering, and Locking Section Committee: @nspark @naveen-rn @BryantLam @akhillanger

[2020-03-10 21:08] naveen-rn commented on #393
NO

YES

The proposed change looks fine with me.

[2020-03-11 02:31] BryantLam commented on #393
Yes, I agree with this change.

I assume this statement means every function in the point-to-point synchronization section.

[2020-03-11 02:57] BryantLam commented on #389
Resolved

[2020-03-11 02:57] #389 closed

[2020-03-11 17:43] jdinan commented on #393
👍

[2020-03-16 17:51] naveen-rn opened #394 ""Note to Implementers" in shmem_wait_until"
We have the following Notes to Implementers in the ```shmem_wait_until``` routine:

Some platforms may allow wait operations to efficiently poll or block on an update to ivar. On others, an atomic read operation may be needed to observe updates to ivar. On platforms where atomic read opera- tions incur high overhead, implementations may be able to reduce the number of atomic reads performed by usi

[2020-03-16 17:53] naveen-rn commented on #394
@nspark @BryantLam @davidozog - any comments

[2020-03-16 17:59] naveen-rn opened #395 "How to read shmem_atomic updates?"
With the new OpenSHMEM-1.5 changes, did we clarify or modify the semantics for reading the OpenSHMEM atomic updates at the target side? Did we introduce any semantics requiring the use of point-to-point sync operations for reading the updates.

[code]

I vaguely remember some change happening in the relation between atomic updates and the p2p-sync routines - not sure what it is. Specifically, the

[2020-03-16 18:37] davidozog commented on #394
Thanks for catching this @naveen-rn.  I don't believe it crossed my mind to include it while proposing the multi-element wait/test routines.  I would approve moving this up to the section overview since it applies to all p2p sync routines.

Side note:  If we do that, I presume it could retain the "Note to Implementers" title?  It's definitely a note to implementers, and we do have (a little?) prec

[2020-03-16 18:59] naveen-rn commented on #395
Specifically, I'm trying to understand whether the following usage is valid?

[code]

[code]

[2020-03-17 02:36] BryantLam commented on #296
Closed by https://github.com/BryantLam/openshmem-specification/pull/4 (merged).

[2020-03-17 02:36] #296 closed

[2020-03-17 02:38] BryantLam commented on #378
Closed by:
- Frontmatter: https://github.com/RaymondMichael/specification/pull/29 (open)
- Backmatter: https://github.com/BryantLam/openshmem-specification/pull/9 (merged)

[2020-03-17 04:20] BryantLam commented on #301
Closed. Resolved by https://github.com/BryantLam/openshmem-specification/pull/12.

[2020-03-17 05:49] BryantLam opened #397 "Make examples easier to read"
IMO, the examples are not so easy to read with the current choice of color stylings. Ideas to make it easier?

- Change the background color to 80% or 90% white instead of the current ~50% white.
- ...

[2020-03-17 13:04] jdinan commented on #313
@RaymondMichael @swpoole Any chance of incorporating guidance on use in OpenSHMEM 1.5? This came up again recently while working on documentation -- the implications of copying text or examples from the spec are unclear. As an example, the following is adapted from the BSD license:

[code]

[2020-03-17 15:08] nspark commented on #397
Here are some samples to compare (the "Gray" example is the current background coloring):

![ExampleColoring](https://user-images.githubusercontent.com/2961664/76869889-58c8bb80-683f-11ea-94b2-ccb7b167fb94.png)

Does lightening the background help?

[2020-03-17 15:25] nspark commented on #397
Another suggestion, a white background with a frame:

![ExampleFramed](https://user-images.githubusercontent.com/2961664/76871874-01781a80-6842-11ea-9d1f-22aaaa6043d8.png)

[2020-03-17 22:41] #378 closed

[2020-03-18 00:17] nspark commented on #395
@naveen-rn After today's WG call, do you want to keep this issue open—if so, should we add something in the spec?—or close it?

[2020-03-19 13:14] jdinan commented on #394
It could read a bit odd to have a note to implementors before the functions themselves have been described. If it's weird, then I would suggest leaving this note in its current location.

[2020-03-19 13:22] jdinan commented on #395
The usage above has undefined behavior, as discussed in the WG meeting. @naveen-rn Could you take a look at Memory Model -> Atomicity Guarantees and make sure this comes across clearly?

[2020-03-20 15:21] naveen-rn commented on #395
Thanks @nspark, @jdinan  and @manjugv.

There were two questions in this issue:
1. How/Whether to use p2p-sync routines in target to verify the completion of the atomic updates?
2. How/Whether to use atomic operations to fetch the atomic updates on the target?

Based on the WG meeting and the text updates. For (1), while from the user perspective, I agree that p2p-sync routines are expected to be

[2020-03-20 15:34] naveen-rn commented on #394
Should we slightly modify the text as follows:

Current version:

Some platforms may allow wait operations to efficiently poll or block on an update to ivar. On others, an atomic read operation may be needed to observe updates to ivar. On platforms where atomic read opera- tions incur high overhead, implementations may be able to reduce the number of atomic reads performed by using non-atomic read

[2020-03-20 17:02] nspark commented on #395
Yes, I think both examples are well-defined in how they read `dst`—as long as the program is done updating `dst`.

[2020-03-20 17:49] naveen-rn opened #402 "Update shmem_ctx_nostore definition"
The ```SHMEM_CTX_NOSTORE``` option definition is bit ambiguous. We have the following definition:

In general, wrt to this definition, I understand what we mean by "memory store" operations. But recent discussions internally with some developers, lead to a confusion. As we don't have a standard definition for "memory store" it is ambiguous on whether we define the memory store here as a local op o

[2020-03-20 18:08] naveen-rn commented on #395
@nspark I'm sorry, I'm missing the text change. I'm reading the Memory Models -> Atomicty Guarantees section. Where are you reading this usage? I don't see a clear definition on how to retrieve the updates on the atomic operations on a local symmetric heap. Even all the examples used in the section, shows the issue with the concurrent usage.

1. I'm ok with leaving this semantics - ambiguous.
2. I

[2020-03-20 18:38] BryantLam commented on #301
Merge conflict in Section Collectives v1.5rc1

[2020-03-20 18:56] nspark opened #403 "Remove "Notes: None" from collectives"

[2020-03-20 19:29] nspark commented on #395
I don't necessarily think there's anything that says "you can do this", but it is not prohibited by any of the four scenarios under "Atomicity Guarantees."

Specifically, I think your concern is over:

But, a program like the following obeys that restriction:

[code]

In other words, the atomicity requirements do not say you may never mix those operations on the same objects in memory; it only say

[2020-03-20 20:08] nspark commented on #376
@shamisp Here's how we resolved this in the Collectives section:

[2020-03-20 20:56] jdinan commented on #391
Suggestion on 3.20.2020 meeting -- example of team-based synchronization for a halo exchange.

[2020-03-20 21:07] naveen-rn commented on #395
Thanks @nspark. This clarification looks fine. As I understand, it means, the spec doesn't restrict the use of any specific atomic operation to read the atomic update on a local variable. So, it is not as strict as put-with-signal, where we need to use ```shmem_signal_wait_until``` or ```shmem_signal_fetch``` to read the signal update.

In fact, the spec doesn't even specify on how to consume the

[2020-03-22 15:43] jdinan commented on #313
@RaymondMichael @swpoole A corollary to this request would be to include an open source LICENSE file in the LaTeX source tree that we have posted on GitHub. This file isn't included in the PDFs that we publish, so there is no immediate need for it. But, if we were to feel comfortable using a BSD license (or any other license, just taking BSD as a commonly used example) for the sources, we could wo

[2020-03-22 17:48] jdinan commented on #402
In WG discussion, we had proposed adding the +text+ below:

[2020-03-22 17:50] jdinan commented on #301
@BryantLam Could you create a PR to remove the changelog from the collectives section and a separate PR to add it to the back matter section?

[2020-03-23 14:42] jamesaross opened #404 "Remove start_pes section"
The `start_pes` routine is deprecated since 1.2, but not removed.  Using the same logic to remove the cache management section, should remove the `start_pes` section?  The document doesn't have sections on related deprecated routines `_my_pe`, `_num_pes`.  Rather, they have notes in their replacement routines `shmem_my_pe` and `shmem_n_pes`, respectively.  Similarly, there is already a note in the

[2020-03-23 15:05] naveen-rn commented on #404
Related item: I think, as a community we should start deciding on the versioning schemes. We don't have backward compatibility on the planned release with the existing 1.4 release. We have removed support for FTN, cache, and then this request to remove ```start_pes```. We release 1.5 as an update to 1.4, but in fact we have removed compatibility.

[2020-03-23 18:42] jamesaross commented on #404
@naveen-rn, Hasn't Fortran been the only thing removed from 1.5?  I think it has been the only thing removed since 1.0. The cache management routines and `start_pes` are deprecated, not removed.  I only proposed to remove the `start_pes` _section text_ within the specification, not remove it from backward compatibility support.  If you look at the `shmem_init` section, it details how `start_pes` h

[2020-03-23 19:21] naveen-rn commented on #404
@jamesaross are you saying that implementations might still need to support cache management routines in OpenSHMEM-1.5? I'm confused with how it is represented in https://github.com/BryantLam/openshmem-specification/pull/9/files

[2020-03-23 20:24] jamesaross commented on #404
I missed that.  Obviously, a little clarity is needed.  I don't recall voting on removing the cache API.  I didn't know removal could be done by a section committee.  I thought #378 was for removing the deprecated section text.

[2020-03-24 11:49] RaymondMichael opened #405 "List committee chairs in the credits"
This issue will give us a space to discuss reorganizing the contributors list to highlight the committee chairs. This was brought up as an option at the recent board meeting.

I have a sandbox at #https://github.com/RaymondMichael/specification/pull/32 to play with different options. In my first prototype I'm listing everyone's organization every time they get mentioned. One improvement I'm thinki

[2020-03-24 12:49] jdinan commented on #404
@jamesaross I agree -- in general, removal should not be something we handle through section committee. At the face-to-face, we decided to make an exception and garbage collect the cache APIs since they have not been used in 20 years. Looking at @BryantLam's back matter branch, it looks like additional APIs are being removed in 1.5. I suggest we discuss this in today's WG session. Can you join?

[2020-03-25 01:57] jamesaross commented on #405
What about having special footnote-like symbols after names so that it can scale across versions?

In general, it seems like the "Current Authors and Collaborators" lists could be more compact so a new page doesn't get added per new version.  But I guess it's not at the level of a CERN Physical Review Letter yet.

Also, does it make sense to call the section "Current" when it lists some inactive p

[2020-03-25 02:22] jamesaross commented on #404
Personally, I have no concerns about removing the cache management API.

Somehow, I don't recall that discussion at the F2F meeting. It wasn't included in 1.5rc1 and it wasn't mentioned at the March 20 committee meeting.  Unless you interpret the pull request #378 discussion correctly or parse unmerged LaTeX diffs on an external fork where a single line notes removal, it's like backward compatibil

[2020-03-25 16:11] jdinan commented on #405
Looks good to me. I agree we should change the section heading from "Current Authors and Collaborators" to "Authors and Collaborators".

[2020-03-25 19:29] RaymondMichael commented on #405
@jamesaross in regards to your footnote comment, do you mean that we should use those to indicate committee roles?

[2020-03-25 20:01] jamesaross commented on #405
Yes, with the intention that prior and future versions committee roles could also be credited with common symbols.  It should be more compact.

Another idea could be to just have a generic section committee leader symbol since section names evolve.

[2020-03-25 21:17] RaymondMichael commented on #405
I put together a prototype of the footnote approach. Let me know what you think.

https://github.com/RaymondMichael/specification/pull/32

[2020-03-26 11:51] RaymondMichael commented on #313
We're starting to write up something for the lawyers to take a look at.

[2020-03-26 12:38] RaymondMichael commented on #313
@jdinan, Devil's Advocate: Section 1 of the contributors' agreement says Contributions are made available to others with a BSD-3 license. I read this as saying that the standard can be copied and modified. Admittedly, the statements in the specification, contributors' agreement, and the software license could be better harmonized.

[2020-03-27 13:38] jamesaross commented on #405
Thanks, Raymond. I like the second approach more.

Quick comparison for people following along:

# First Approach
![image](https://user-images.githubusercontent.com/12766926/77760902-82d36800-700d-11ea-872d-2083f650c196.png)

# Second Approach
![image](https://user-images.githubusercontent.com/12766926/77760963-9c74af80-700d-11ea-8dec-9e565b3884b0.png)

[2020-03-28 18:11] jdinan commented on #313
@RaymondMichael A BSD license included in the repository and also in the specification document would resolve all concerns on my end. Many thanks for taking up this task.

[2020-03-29 18:00] jdinan commented on #395
@naveen-rn This text is really trying to give an example of how atomic operations are performed by the OpenSHMEM implementation. It's not meant to specify how applications should use the API.

[2020-03-30 03:34] naveen-rn commented on #334
Fixed in https://github.com/naveen-rn/specification/pull/3

[2020-03-30 03:38] naveen-rn commented on #334
Can we close this issue? As the change is made in the above mentioned PR? @rdesai16

[2020-03-30 03:38] naveen-rn commented on #393
Can we close this issue as the above change is merged into the section committee branch?

[2020-03-30 03:43] naveen-rn opened #406 "RM Whitespaces from the Figures in MO Section"

[2020-03-30 03:44] naveen-rn opened #407 "RM datatypes from the MO images"

[2020-03-30 03:45] naveen-rn opened #408 "RM barrier example from the MO images"

[2020-03-30 03:45] naveen-rn opened #409 "Add team_sync in the MO image list"

[2020-03-30 12:08] jdinan commented on #334
The fix looks good. Did it also get a changelog entry?

[2020-03-30 15:10] rdesai16 commented on #334
@naveen-rn  Yes. The fix looks good and is merged so we can close this issue. We should just make sure of the changelog entry.

[2020-03-30 15:24] #393 closed

[2020-03-31 12:24] jdinan commented on #334
Whoops, looks like we still need the changelog entry. Reopening.

[2020-03-31 12:24] RaymondMichael commented on #405
I started new PR https://github.com/RaymondMichael/specification/pull/34 to clean up some internal bits. It has the same output as #2.

[2020-03-31 12:27] jdinan commented on #151
We have decided not to apply this change. A poll of committee members indicated that --- intents are helpful to document and since we already have them, why remove them?

[2020-03-31 12:27] #151 closed

[2020-03-31 12:39] nspark commented on #334
@BryantLam Do you want to take this one? It seems you've had to resolve a lot of conflicts in the changelog already.

[2020-03-31 13:41] #403 closed

[2020-03-31 15:43] nspark commented on #303
Closed by nspark/specification#20

[2020-03-31 15:43] #303 closed

[2020-03-31 21:06] BryantLam commented on #334
Can do.

[2020-03-31 21:06] BryantLam opened #411 "Add changelog entry for #334"
https://github.com/openshmem-org/specification/issues/334

[2020-04-01 14:10] jdinan opened #412 "Signal Fetch Missing Context"
## Issue

The `shmem_signal_fetch` operation is missing a context argument.

## Solution

Add `shmem_ctx_signal_fetch` C/C++ binding and C11 generic selection API.

[2020-04-01 14:12] jdinan commented on #412
@shamisp @manjugv @naveen-rn Can you please check if this can be fixed before the RC2 cutoff? There is no need to change the existing signal fetch function, we can add the context version and add a C11 binding as we have done with the other signaling operations.

[2020-04-01 14:30] naveen-rn commented on #412
I thought signal fetch is a simple load operation - do we need a context for performing this operation? Isn't this analogous to ```shmem_signal_wait_until()``` without the conditional check?

[2020-04-01 14:33] naveen-rn commented on #412
Well, I shouldn't say "simple load" - but some sort of the load, basically a local operation. I haven't thought about going through the network to read the local buffer.

[2020-04-01 14:35] naveen-rn commented on #412
Side note: @nspark @BryantLam If we make this change, should we also update the memory ordering table -  it now saya blocking and nbi put-with-signal. We should add shmem_signal_fetch.

[2020-04-01 16:43] #301 closed

[2020-04-01 17:42] BryantLam commented on #412
The analogy to `shmem_signal_wait_until` (or even `shmem_wait_until`) seems apt. The atomics have `ctx` arguments, but `shmem_wait_until` doesn't.

Is `shmem_signal_fetch` closer to `shmem_atomic_fetch` and why the `ctx` argument is needed?

@naveen-rn -- The previous question should answer whether or not we put it in the memory ordering table. The atomics are already in the table.

[2020-04-01 17:51] wrrobin commented on #412
We have a statement in the corresponding section:
[code]
Based on this, I feel `shmem_signal_fetch` should be similar to a `shmem_atomic_fetch` rather than a local load operation. In such case, we might need a context argument as well.

[2020-04-01 17:55] naveen-rn commented on #412
It looks like I didn't make it clear:
1. I prefer to not add context argument, I don't see any need for converting the ```shmem_signal_fetch``` as a context-based operation. To me it is similar to ```shmem_signal_wait_until``` and not ```shmem_atomic_fetch```.
2. @wrrobin: the exact statement refers to signaling atomicity and not OpenSHMEM atomics. ```Access to sig_addr signal object at the callin

[2020-04-01 18:01] wrrobin commented on #412
Thanks @naveen-rn for the clarification. Trying to understand, `shmem_signal_fetch` does not really wait for any event, right? It just returns the current value of the signal. Please correct me if I am wrong on this.

[2020-04-01 18:08] naveen-rn commented on #412
Yes, it just reads the value of a local symmetric region without breaking the signaling atomicity guarantees.

[2020-04-01 18:44] BryantLam commented on #412
@jdinan -- What are the arguments for adding the `ctx` argument to `shmem_signal_fetch`?

Fortunately, this change can be made after v1.5 in a non-breaking way. I don't mind deferring this change if we don't come to a consensus on its need.

[2020-04-01 20:10] shamisp commented on #376
@jdinan do you have patch for this ?

[2020-04-01 20:12] jamesaross opened #413 "Undefined behavior in peer-to-peer synchronization routines"
It seems to me that every peer-to-peer synchronization routine that includes a status array defines behavior for element values of 0 or 1, but not other values.  Wouldn't it be better to define the behavior in terms of 0 and non-zero?  This should be a simple change, repeated 12 times.

Relevant routines (plus C11 Generics):
[code]

[2020-04-01 20:25] jdinan commented on #413
@davidozog Interested to hear your thoughts?

[2020-04-01 20:35] jdinan commented on #412
@BryantLam That's a good point with regard to urgency. The thing that triggered me posting this issue was @wrrobin's implementation that performs a network atomic fetch to read the data. The atomic fetch is needed for compatibility with signal atomic-add. Since it's a network operation, it requires a context within the implementation.

I appreciate @naveen-rn's point, as well, that this should be

[2020-04-01 20:53] davidozog commented on #413
@jdinan  It seems like a good point to me, thanks for noticing that @jamesaross.  We could state that all values other than 0 and 1 are invalid; but if it's an acceptable change at this point, I wouldn't mind going through and changing "1" to "nonzero" to avoid undefined behavior altogether.  Could this be a doc edit?

[2020-04-01 22:55] BryantLam commented on #412
I'm not sure if we want to solve this now, but I do want to point out that if we do decide to pursue adding a `ctx` argument to `shmem_signal_fetch`, the function is currently specified for only C/C++. We would have to deprecate the current function for C/C++ and introduce it again for C11.

This is similar to what happened with C/C++ `shmem_wait_until(long)` that now resides in the deprecation ta

[2020-04-02 01:32] jdinan commented on #412
@BryantLam I don't think there will be an issue. We would have bindings like this:
[code]
You have to be careful about where and when the macro is defined, but we have used this workaround for the wait functions without issue.

[2020-04-02 12:11] jdinan commented on #376
PR posted: https://github.com/shamisp/specification/pull/5

[2020-04-02 12:15] jdinan commented on #402
@naveen-rn Please review the change posted above.

[2020-04-02 12:22] naveen-rn commented on #402
Changes looks fine with me.

[2020-04-02 16:00] #402 closed

[2020-04-02 18:50] naveen-rn commented on #413
Can we close this issue? https://github.com/naveen-rn/specification/pull/16/files Fixes this issue.

[2020-04-03 14:08] jamesaross commented on #413
Thank you, @davidozog and @naveen-rn.

[2020-04-03 14:08] #413 closed

[2020-04-03 17:10] #411 closed

[2020-04-03 17:10] #334 closed

[2020-04-03 19:33] #278 closed

[2020-04-03 19:34] naveen-rn commented on #278
Closed as part of  https://github.com/naveen-rn/specification/pull/6

[2020-04-03 19:34] naveen-rn commented on #409
Closed as part of naveen-rn#18

[2020-04-03 19:45] #406 closed

[2020-04-03 19:45] #407 closed

[2020-04-03 19:45] #408 closed

[2020-04-03 19:46] #409 closed

[2020-04-03 23:17] #388 closed

[2020-04-05 01:44] #376 closed

[2020-04-05 01:48] jdinan commented on #313
@RaymondMichael Any progress on this?

[2020-04-05 01:50] jdinan commented on #241
@wrrobin @nspark Anything more needed on this issue? Anything we might want to address in 1.6 (if so, I would suggest creating a new issue and referencing this one for context)?

[2020-04-05 01:51] jdinan commented on #347
Closed by @davidozog -- thanks!

[2020-04-05 01:51] #347 closed

[2020-04-05 01:51] jdinan commented on #391
Closed by @davidozog -- thanks!

[2020-04-05 01:51] #391 closed

[2020-04-05 01:52] #385 closed

[2020-04-05 01:53] jdinan commented on #405
@RaymondMichael Can this issue be closed?

[2020-04-05 20:05] jdinan commented on #99
@nspark Is this issue resolved for OpenSHMEM 1.5? If you'd like to keep it for OpenSHMEM 1.6, please adjust milestone, project, and labels.

[2020-04-05 20:10] jdinan commented on #228
@nspark Did these get merged for rc2?

[2020-04-06 01:23] wrrobin commented on #241
@jdinan For 1.5, I am ok to close this issue. Regarding 1.6, I was thinking about whether we can utilize the `in use` clause more frequently throughout the spec instead of keeping it only in one place. This may help to define the `local` and `remote` completion that we are trying to add to the glossary.

[2020-04-06 01:35] jdinan commented on #241
@wrrobin We are trying for an empty list of open issues at the next meeting. If you're satisfied that this issue is resolved for 1.5, you can reassign the issue to 1.6 or close it and open a new 1.6 issue.

[2020-04-06 11:21] #394 closed

[2020-04-06 15:42] nspark commented on #228
@BryantLam @RaymondMichael @jdinan Here's what I have (technically in the backmatter)...

![ToC](https://user-images.githubusercontent.com/2961664/78576789-2c2f1080-77fb-11ea-9810-2f2f0134f958.png)

![Glossary](https://user-images.githubusercontent.com/2961664/78576795-2e916a80-77fb-11ea-8e1d-ba0cdf6dbb0f.png)

I tried using the `glossaries` package, but this would actually require document-wide e

[2020-04-07 19:52] BryantLam commented on #228
We have a glossary now with initial terms in it. Thanks @nspark!

Bumping to v1.6. The other terms can be added later.

[2020-04-07 19:54] BryantLam commented on #99
Resolved by https://github.com/BryantLam/openshmem-specification/pull/22.

[2020-04-07 19:54] #99 closed

[2020-04-07 22:39] jdinan opened #416 "Thread levels have increasing integer values"
# Issue

I don't think we specified that `SHMEM_THREAD_SINGLE < SHMEM_THREAD_FUNNELED < SHMEM_THREAD_SERIALIZED < SHMEM_THREAD_MULTIPLE`.

# Proposed change

### Option 1:
Section 9.2:

### Option 2:
Section 9.2, add to the bulleted list of semantics:

[2020-04-09 13:01] jdinan commented on #405
@RaymondMichael Closing this issue, please re-open if needed.

[2020-04-09 13:01] #405 closed

[2020-04-09 13:03] jdinan commented on #397
@nspark @BryantLam Can we close this issue?

[2020-04-09 13:03] jdinan commented on #166
@nspark @BryantLam Can we close this issue?

[2020-04-09 15:42] #166 closed

[2020-04-09 15:42] #397 closed

[2020-04-10 20:27] RaymondMichael commented on #313
HPE Legal approved adding the BSD license for the text of the standard. On Monday I'll work on adding the file to source directory.

[2020-04-10 21:03] jdinan commented on #313
This is awesome -- thanks for making this happen @RaymondMichael!

Could you push the update to the copyright notice that we include in the built PDF to the front matter section branch? And post the license file as a separate PR to master?

@manjugv I would like to propose that we conduct a special ballot for the section committee change and a regular ballot for the license file.

[2020-04-12 17:49] manjugv commented on #313
@jdinan I will add it to the agenda.

[2020-04-13 11:58] RaymondMichael commented on #313
I think you're saying I should:
o Add a Copyright notice to the PDF file in the front matter branch
o Add the license file to the sources in the main branch

[2020-04-13 14:17] jdinan commented on #313
@RaymondMichael In addition to the items you mentioned above, it would be good to also include the license text in the front matter, since this is what we ultimately distribute to consumers of the specification.

[2020-04-13 14:19] jdinan commented on #313
In fact, I think that requirement 2 of the license requires us to include it in the PDF.

[2020-04-13 16:20] jdinan commented on #416
Would folks be comfortable handling this as a document edit, so we can squeeze it into OpenSHMEM 1.5? This feels to me like an erratum, which seems fine to implement as a document edit. Also would like to hear preferences on option 1 vs 2 above.

[2020-04-13 16:44] davidozog commented on #416
Thanks @jdinan - I'm comfortable as a doc-edit, and (very slightly) prefer #2 since it seems more explicit about what "with increasing integer values" means.

[2020-04-13 18:22] jdinan commented on #416
Option 2 actually seems a bit weird since the the bulleted list is introduced as follows:

However, this requirement has to do with how the library is implemented, not how it is used. I think option 1 makes the most sense (as a doc edit).

[2020-04-13 19:05] #416 closed

[2020-04-13 19:08] jdinan commented on #416
Closed by: https://github.com/openshmem-org/specification/pull/418/commits/8a672e5d957c3d805edd7e33986415f53d1755a8

[2020-04-21 03:51] jamesaross opened #419 "Unspecified error in shmem_team_destroy"
Within the Notes of `shmem_team_destroy`, it lists:

The issue is the method doesn't provide a return value to indicate an error.  The `shmem_team_split_strided` and `shmem_team_split_strided_2d` routines return 0 if successful and nonzero on error.

The prototype is:
`void shmem_team_destroy(shmem_team_t team);`

Possible solutions:
1. fix the issue by returning an error code?
    `int shmem_team

[2020-04-22 01:57] jdinan commented on #419
I agree, this should be undefined behavior and not an error. This seems fine to handle as a document edit, if we decide to proceed with ratification next Monday.

[2020-04-27 21:23] jdinan opened #421 "Resolve Issues Identified at April RCM"
Resolve the issues that were captured on the 1.5rc2 PR https://github.com/openshmem-org/specification/pull/415 during the April RCM.

[2020-04-28 12:58] jdinan commented on #395
@naveen-rn Anything we need to fix here in OpenSHMEM 1.5?

[2020-04-28 13:01] jdinan opened #427 "OpenSHMEM 1.5 Doc Edit Checklist"
* [ ] Fix commas in e.g. and i.e.
 * [ ] Look out for blank pages (e.g., in the Annexes)

[2020-04-28 20:22] jdinan opened #429 "Rename Deprecation Annex?"
The deprecation annex section heading is currently "OpenSHMEM Specification and Deprecated API". Should shorten this to "Deprecated API"? This would make it easier to locate when scanning the PDF viewer's sidebar index:

<img width="293" alt="Screen Shot 2020-04-28 at 4 09 18 PM" src="https://user-images.githubusercontent.com/3397618/80533838-411b4180-896c-11ea-95f7-c93d03c34cf7.png">

And elimina

[2020-04-28 20:25] jdinan commented on #313
Pushed to OpenSHMEM 1.6. OpenSHMEM 1.5 will include #428

[2020-04-28 20:35] jdinan opened #430 "Update Programming Model Overview"
Update programming model overview to include new features in OpenSHMEM 1.5: put-with-sign, signal fetch, and teams. Anything else (skim changelog to check)?

[2020-04-28 20:35] jdinan commented on #430
Anybody able to take this issue?

[2020-04-28 20:36] #421 closed

[2020-04-30 18:57] #429 closed

[2020-05-09 14:24] jdinan commented on #395
Paging @naveen-rn @nspark could you check up on this issue to see if it needs attention in OpenSHMEM 1.5?

[2020-05-09 15:23] naveen-rn commented on #395
Sorry for not replying sooner. I was thinking about the change requested in the [comment](https://github.com/openshmem-org/specification/issues/395#issuecomment-601911311). My only gripe is that the second statement in the example seems ambiguous and it kind of looks incorrect.

When I read it, it seems that we provide an example that prohibits the usage of non-atomic operation on a variable which

[2020-05-11 19:39] jdinan commented on #395
I think I'd prefer to delete this paragraph rather than try to fix it. It's a "for example" that contains an imprecise description of atomicity that is also confusing for the reasons you stated. I think the paragraph may have either been written by or supported by @manjugv. Wondering what he thinks?

[2020-05-11 20:11] nspark commented on #395
I think we should remove this paragraph. The following examples more directly and clearly address the specific requirements for atomicity.

[2020-05-19 19:41] aljo242 opened #438 "Collective APIs still describe "active set" routines (not deprecated)"
Looking at 1.5rc3.  This is my first issue for the spec so apologies if I am doing this incorrectly.
 Collective routines like `shmem_collect()`, still discuss _PE_start_, _PE_size_, etc. in their API Descriptions.  The section on "Active-set based collectives" which introduces this terminology is marked as deprecated, so should the sections inside the individual API Descriptions be similarly depr

[2020-05-19 21:01] manjugv commented on #438
IIRC, this was a deliberate choice. Tagging collectives section committee for their comments @jdinan @nspark @shamisp @davidozog .

[2020-05-20 20:43] jdinan commented on #438
The function prototypes and argument descriptions for the deprecated
routines are also marked. I guess the question is whether we want to also
markup the active set text in the API description box. I believe it was a
deliberate choice not to mark this text since some of it applies to both
active set and team collectives.

On Tue, May 19, 2020 at 5:01 PM Manjunath Gorentla Venkata <
notifications@g

[2020-05-20 23:39] aljo242 commented on #438
Yeah, I can see why that might have been done.  I'm not exactly what text that specifically discussed active sets applies to the team collectives though.  It's more like active set text is interspersed within the API descriptions, which makes it both hard to add deprecation markers, or hard to understand without them.

A reader may skip over when active sets are introduced since that text is depre

[2020-06-08 17:36] jamesaross commented on #419
Closed by passing #434

[2020-06-08 17:36] #419 closed

[2020-06-08 18:02] #430 closed

[2020-06-08 18:02] #395 closed

[2020-06-08 19:45] manjugv commented on #240
Can we close this issue ? @BryantLam

[2020-06-08 19:47] manjugv commented on #72
Closing. As there is no plan to revive this. @boehms If you (or others) plan to work on this, please feel free to open.

[2020-06-08 19:47] #72 closed

[2020-06-08 19:48] manjugv commented on #277
@nspark Do you want to close this or revive this ?

[2020-06-08 20:31] manjugv commented on #438
Discussed at the FRM meeting and closing for now.

[2020-06-08 20:31] #438 closed

[2020-06-08 20:35] jdinan commented on #438
The committee felt that this will eventually be addressed when the now deprecated active set APIs are removed from the specification. If you have a suggestion in the meantime that would make the document clearer, please propose it.

[2020-06-08 20:41] #208 closed

[2020-06-08 20:44] jdinan commented on #122
I have lost, `shmem_init` and `shmem_init_thread` will remain 10 pages apart in the document. :shipit:

[2020-06-08 20:44] #122 closed

[2020-06-08 21:03] manjugv commented on #98
Discussed during FRM : The issue might be tricky to standardize. It was decided to close for now.

[2020-06-08 21:03] #98 closed

[2020-06-09 20:03] jdinan commented on #284
I reviewed the relevant passages from the spec and didn't see anything that needs to be edited. There are a lot, so I wouldn't be surprised if I missed something, but there does not seem to be a high error density in the output of the above greps as suggested on the ticket (or perhaps the chapter committees already fixed them).

[2020-06-09 20:03] #284 closed

[2020-06-22 20:56] naveen-rn opened #440 "Understanding the meaning of "no action is performed" is memory management routines"
We have the following statement in the memory management subsection:

And, the following statement in the changes to document sections:

Just to be clear on the intended semantics - please clarify whether the following options can be considered as "no action" for the memory management operations:

1. On ```shmem_malloc```, ```shmem_realloc```, and ```shmem_calloc```, if the ```size``` is zero
2. I

[2020-06-23 23:10] tonycurtis opened #441 "Spec 1.5: typo/question in 9.4.3 SHMEM_TEAM_CONFIG_T"
guarantee

must set only ...?

seems a bit clearer.

[2020-06-24 02:10] jdinan commented on #440
Item 2 may be true as a consequence of item 1, but I don't recall it being specified in this way. It might simplify coding for OpenSHMEM 1.5 to use this fact, but it could become cause a bug if a future specification invalidates this rule. Then again, it might also simplify the specification to adopt this as a rule. 🤷

[2020-06-24 02:11] jdinan commented on #441
Could you post these edits as a PR? I'd be happy to merge them as a document edit.

[2020-06-24 15:53] naveen-rn commented on #440
I'm fine with (2), for now this is not an issue with our implementation. But, in future, I'm not sure whether there would be bugs when one PE gets a NULL and others get a valid ptr.

[2020-06-24 17:26] jdinan commented on #440
It would break symmetry if all PEs don't either successfully allocate memory or return NULL, right?

[2020-06-24 17:37] naveen-rn commented on #440
AFAIU, in the current spec - it is users responsibility to check for symmetry. We don't do a allreduce or something to determine symmetry. For all types of malloc.

[2020-06-24 22:00] naveen-rn opened #442 "Contradicting test_all semantics"
In the API description of ```shmem_test_all```, we have the following statement:

And in the return values - we have the following:

So, when the nelems is 0 - should we return 0 or 1?

[2020-06-25 00:04] davidozog commented on #442
The API description also says:

So I think the intent was to return 1 when nelems is 0, and the text in the `status` array description should read:

Also note that `shmem_test_all_vector` has the same issue.  Sorry about that, and good catch.

[2020-06-25 21:31] jdinan commented on #442
We have been getting by without an errata document, but it might be helpful since issues like one this can't wait until the next release to be clarified. What do you think?

[2020-06-25 21:32] naveen-rn commented on #442
+1

[2020-06-29 14:56] naveen-rn opened #443 "Understanding team_destroy operation"
Should the team handle passed as input to the ```shmem_team_destroy``` be ```shmem_team_t *``` instead of ```shmem_team_t```? With the current API, it looks like we can destroy the referenced team, but the handle remains usable. From the user perspective, if they compare the destroyed team against ```SHMEM_TEAM_INVALID```, it will be negative and users can try to use the handle for any team-based

[2020-07-01 00:02] naveen-rn opened #444 "Understanding shmem_malloc_with_hints usage semantics"
As per the 1.5 spec, it looks like the majority of the operations performed on the address buffer allocated with a particular in ```shmem_malloc_with_hints``` should follow the hints used. I understand that not using the buffer for any other type of operation is kind of breaking the contract initially created by the user application. But, how does the implementation react to this usage model?

Say

[2020-07-01 01:02] jdinan commented on #443
The handle value is invalid after `shmem_team_destroy` returns. Application developers can reset their handle to `SHMEM_TEAM_INVALID` if they want to. This is pretty normal. For example, `free` does not reset the pointer to `NULL`. I seem to recall a discussion in the teams WG about adopting the MPI style of API that resets the handle value and there was a preference toward the current API.

[2020-07-01 01:04] jdinan commented on #444
My understanding is that buffers returned by `shmem_malloc_with_hints` are valid for all OpenSHMEM operations (with the possible exception of `shmem_ptr`).

[2020-07-01 19:38] manjugv commented on #444
@naveen-rn Yes, it would succeed, but performance might not be as expected.

[2020-07-04 21:45] naveen-rn opened #445 "Need for const and pointer for shmem_team_config_t in team creation operations"
The current APIs for strided and 2d split team creation - have the configuration parameter as ```const shmem_team_config_t *```. It is an input argument - so, it can be a simple ```shmem_team_config_t```. Not sure whether we need to pass by reference these configuration parameters.

[2020-07-06 13:38] jdinan commented on #445
It sounds like you are suggesting passing the struct argument by value rather than by reference? This might be fine for how the struct is currently defined, but it could become a problem in the future. There are plenty of discussions online covering pro/con of passing structs by value.

[2020-07-06 21:48] rdesai16 opened #446 "shmem_signal_fetch missing in Annex G"
There is no description of shmem_signal_fetch in Annex G subsection "G.1 Version 1.5". It can be considered as part of "put-with-signal" functions but the section reference provided with "put-with_signal" functions does not include shmem_signal_fetch description.

[2020-07-16 14:46] naveen-rn opened #447 "Need for config_mask in shmem_team_get_config"
What was the rationale behind adding a ```config_mask``` in ```shmem_team_get_config```. Why would the user specifically ask for a config parameter that was not initially used during the team creation?

1. (config == NULL) and (config_mask == empty) - should we return 0?
2. (config == NULL) and (config_mask != empty) - AFAIU, this is defn an error from the user - so return non-zero.
3. (config !=

[2020-07-16 16:09] jdinan commented on #365
From 7/2/2020 meeting, WG prefers the block interleaved API.

[2020-07-16 17:38] jdinan commented on #447
The mask is for ABI compatibility.

[2020-07-16 17:42] naveen-rn commented on #447
1 and 2 are still not clear from the specification.

[2020-07-16 19:36] jdinan commented on #447
Agree that these should be clarified.

[2020-08-18 20:33] davidozog opened #450 "Behavior of non-parent PEs entering team split routines"
Should we clarify the behavior of non-parent PEs that enter a team split routine, i.e when those PEs pass `parent_team=SHMEM_TEAM_INVALID`?

In other words, does this existing text (in `shmem_team_split_strided` and `shmem_team_split_2d`):

imply this routine must _only_ be called by PEs in the parent team?  My guess is no, PEs that are not in the parent can pass `SHMEM_TEAM_INVALID`.  This semant

[2020-08-21 15:08] akhillanger opened #451 "Deprecate shmem_sync_all?"
Since `shmem_sync_all` routine is equivalent to calling `shmem_team_sync` on the world team, is there a reason to keep `shmem_sync_all` API?

[2020-09-14 15:10] jeffhammond commented on #365
Regarding the more general strided APIs...

From https://github.com/jeffhammond/oshmpi/blob/master/docs/oug2014_resubmission-acm_4.pdf:

_It is worth asking whether it is worthwhile to generalize the APUT operation for dimensions higher than two to support tensor operations (for some applications, see [7] and [15]). There are two arguments against this. First, operations on subarrays of dimension

[2020-09-14 15:16] jeffhammond commented on #365
If you are going to add 2D array support, you might want to think about collectives as well.

[2020-09-21 16:58] naveen-rn opened #453 "Add support for multiple quiet operations"
Based on a RMA WG discussion, it looks like there is an interest in adding support for an operation like ```shmem_quiet_all```, where users could pass a list of contexts on which the quiet can be performed. Also, it can be extended to support ```shmem_team_barrier``` where we could pass the list of contexts similar to ```shmem_quiet_all``` as input and perform a collective sync followed by multipl

[2020-09-22 13:55] naveen-rn commented on #453
As a proposal to start discussion, let us consider the following API changes to support this new feature:
[code]

[code]

[2020-09-26 04:15] wrrobin opened #454 "Enable user-level threading"
### Issue
Current OpenSHMEM standard does not allow having user-level threads from applications. Supporting user-level threading effectively in an OpenSHMEM library requires integration of of cooperative thread scheduling to prevent deadlock in scenarios where threads block or poll on updates to memory (e.g. in a call to `shmem_wait` or repeated calls to `shmem_test`) and to hide latency in scenar

[2020-10-05 16:56] jdinan commented on #365
Discussion at RMA WG today:

Interest in pursuing the datatypes, API. However, we would need a driver.

Possible drivers for noncontig APIs:
* Stencil codes, e.g. Jacobi
* NWChem
  - May not use multi-sided datatype setup, up to 8-d arrays
* Fortran Coarrays
  - Must not require collective datatype setup

[2020-10-05 17:16] jdinan commented on #365
@jeffhammond I don't understand the argument for dimensions higher than two using APUT. Are you calling it in a loop over the outer dimensions?

[2020-10-05 17:26] jdinan commented on #450
You can have multiple simultaneous split operations, for example consider two splits where parents teams are even PEs and odd PEs. There is no semantic relationship between these splits even though they can be happening simultaneously. I think the same is true of a split involving SHMEM_TEAM_INVALID. There's no relationship to any other split that's happening. Given that it's impossible for a PE t

[2020-10-06 14:59] davidozog commented on #450
@jdinan - yeah... I retract my first suggestion then, thanks.  ;)

For the 2nd suggestion, I agree it's implied that a split on the invalid team returns nonzero, I'm only saying it could be more explicit to avoid confusion.  We can close this issue if you think it's clear though, I'm fine either way.

[2020-10-09 16:55] wrrobin commented on #454
Slides for 10/9 meeting:
[shmem_ult_10_09_2020.pptx](https://github.com/openshmem-org/specification/files/5356361/shmem_ult_10_09_2020.pptx)

[2020-10-12 04:03] naveen-rn commented on #195
This issue is being discussed in the Memory Spaces WG discussion. Notes on the progress of this new feature is available in the following [wiki link](https://github.com/openshmem-org/specification/wiki/Memory-Spaces). Based on the discussion, we are splitting this huge proposal into three different sections:
Section:1 Determining the relationship between Teams, Contexts, and Spaces
Section:2 Addin

[2020-10-12 04:20] naveen-rn opened #455 "Memory Spaces sub-section:1 Determining the relationship between Teams, Contexts, and Spaces"
Based on OpenSHMEM WG discussions, we would be making the following semantic updates in adding the new Memory Spaces feature.

Core Space Semantics:
**Space Creation**
1. Spaces are created and destroyed with Teams
2. Each Team can create more than one Space, through the Team configuration option
3. Each Space created along with the Team-split operation, can be passed a Space configuration propert

[2020-10-12 04:24] naveen-rn commented on #455
Closing https://github.com/openshmem-org/specification/issues/361 as it is handled as part of this issue.

[2020-10-12 04:25] naveen-rn commented on #361
closing this issue, as it is handled as part of https://github.com/openshmem-org/specification/issues/455.

[2020-10-12 04:25] #361 closed

[2020-10-12 04:26] naveen-rn commented on #195
Marking it as blocked - as we have opened separate sub-section-based issues. Closing all the sub-section-based issues will allows us to close this one.

[2020-10-20 00:55] jdinan commented on #450
@davidozog Always welcome suggestions to improve the standard.

[2020-11-03 22:50] agrippa commented on #319
@jdinan I can take this issue on as my first contribution to the spec.

Is there any contributors guide beyond opening a PR while remaining consistent with the macros and formatting of the rest of the document?

[2020-11-04 18:17] agrippa opened #457 "Add API for querying if OpenSHMEM is currently initialized"
Unless I'm missing it, there is currently no API for querying if an OpenSHMEM implementation has been initialized yet (i.e. whether we are in the part of a program between shmem_init and shmem_finalize). Theoretically, this could be something like:

[code]

In general this seems like a useful API, and I've just run in to a concrete case where I "need" it. I'm writing a library in C++ that uses Ope

[2020-11-04 20:43] jdinan commented on #319
Thanks @agrippa! The closest thing to a contributor guide I can think of is Chapter 3 of the [procedures document](http://openshmem.org/site/sites/default/site_files/procedures-1.1.pdf).

[2020-11-13 19:30] jdinan opened #458 "What team do memory management operations use?"
The memory management routines specify:

Is this a collective operation on `SHMEM_TEAM_WORLD` or on a different team containing all of the PEs in `SHMEM_TEAM_WORLD`? E.g. is it valid for a user to perform another collective on `SHMEM_TEAM_WORLD` in parallel with a call to `shmem_malloc`?

[2020-11-13 21:57] davidozog commented on #458
My understanding is that there is only one "world team", and only the world team corresponds to the the `SHMEM_TEAM_WORLD` handle.  A separate team having the same PEs as the world team could certainly do another collective concurrently  with `shmem_malloc`.  Is this issue regarding the "world team" verbiage?

[2020-11-13 23:14] jdinan commented on #458
@davidozog This is my recollection as well, but IMHO the text we have now is not specific enough in this regard.

[2021-01-27 23:52] naveen-rn opened #460 "What does Table:9 in OpenSHMEM-1.5 Specification do?"
Table 9 with latex ```\label{reducetypes}``` doesn't seem to be referred anywhere in the spec. While Table 10 and Table 11 shows the datatypes for Team-based and AVSET-based collectives - not sure what Table 9 is supposed to mean. Also, the label is not referred anywhere in the spec.

[2021-02-01 14:53] naveen-rn commented on #445
Stack usage (if struct gets bigger)
Performance in copying data
Binary compatibility with other compilers

Though, I don't see any forseable issues. But, to be safe, if these are anticipated issues, we are thinking about - looks fine to stick with the current syntax.

[2021-02-01 16:51] naveen-rn commented on #458
@jdinan Can you close this one, if the issue is clarified?

[2021-02-01 16:54] naveen-rn commented on #450
Not an item for errata - needs better wording.

[2021-02-01 17:06] minsii commented on #447
I understand that `config_mask ` is used for ABI compatibility at team creation (i.e., only user-set parameters will be used by the library). But I don't get why it is useful for `shmem_team_get_config`. Why can't the library just return all config parameters associated with the team?

[2021-02-03 02:02] jdinan commented on #458
Yes, it's specified in Section 9.4:

[2021-02-03 02:02] #458 closed

[2021-02-03 02:04] jdinan commented on #445
@naveen-rn Can we close this issue?

[2021-02-03 02:08] jdinan commented on #450
@davidozog I think we concluded that it's not broken, but the text could be improved. Is there anything more to do on this issue?

[2021-02-03 02:12] jdinan commented on #447
There is also a potential ABI compatibility issue with `shmem_team_get_config`. For example, consider an application compiled using this type:
[code]
And then run with an updated SHMEM library that uses this type:
[code]
The library should not try to fill in `b` since the binary has not allocated space for it.

[2021-02-03 03:27] davidozog commented on #450
Yes - I'll take a stab at improving it and post a PR asap.

[2021-02-04 04:48] naveen-rn commented on #445
We can close - the reason for the pointer type is clear.

[2021-02-04 04:48] #445 closed

[2021-02-08 16:57] wrrobin commented on #454
Closing as not enough use-cases currently.

[2021-02-08 16:57] #454 closed

[2021-02-22 17:10] davidozog commented on #189
Here are the WIP slides from the RMA WG (Min's) discussion today:
https://docs.google.com/presentation/d/1rwONNPFlHMv36eLJSWm8TnGE6nrEvVwpLARaIFH1RmY/edit?usp=sharing

Key takeaways/questions for next time:
1) Do we want bundling to be more "implicit" (the OpenSHMEM library decides how to bundle operations) or "explicit" (the user says exactly which ops are bundled and/or when they are shipped).
2

[2021-03-26 13:59] jdinan opened #463 "Add Vendor Version Info"
## Problem

OpenSHMEM specifies only the string `SHMEM_VENDOR_STRING` for implementations to convey version information. This does not give programmers an easy way to determine what version of an OpenSHMEM library they are using.

OpenSHMEM also does not provide a single integer to identify the spec version supported, which complicates version checks in user code.

## Proposed Solution

Add compil

[2021-04-02 17:27] BryantLam commented on #463
I prefer an approach that wouldn't require me to remember what the scheme is. Would we also want to standardize a version-builder macro?
[code]
(or some other typical name for this macro).

Is there merit to forcing a standard-defined scheme vs. leaving it to the vendors?

[2021-04-16 18:35] jdinan commented on #463
I agree that we should specify how `SHMEM_VERSION` is built and we can add a `SHMEM_VERSIONIFY` macro if it's helpful to users.

For `SHMEM_VENDOR_VERSION`, I  would assume, in the spirit of these constants, that would want to leave the definition up to implementors with the stipulation that the constant for release D.E.F should compare as greater than release A.B.C if (D > A) or (D == A && E > B)

[2021-04-22 14:07] nspark commented on #463
In my current code, I do this manually for the OpenSHMEM implementations I primarily target and have version-specific conditions. However, the macros I use are implementation specific, while this one is implementation agnostic. I think this is an important difference. My primary use for this is to avoid certain features that may be buggy in a particular version.

For example: If I'm using Foo SHME

[2021-04-22 14:09] nspark commented on #463
I use code very similar to @BryantLam's example for `SHMEM_VERSION` and `SHMEM_VERSIONIFY` as preprocessor guards across different levels of OpenSHMEM Specification support.

[2021-04-26 14:42] jdinan commented on #463
We could fix this by adding a `SHMEM_VENDOR_NAME` constant. Where NAME is the name could be `SHMEM_VENDOR_NVSHMEM`, `SHMEM_VENDOR_SOS`, etc. WDYT?

[2021-04-26 18:57] BryantLam commented on #463
@jdinan -- Could you provide an example? That sounds like it would run into the same problem of `SHMEM_VENDOR_VERSION` , but with an extra step.

In practice, we could specify something like:
[code]

[code]

IMO, this quickly devolves:
- What does `SHMEM_VENDOR_VERSIONIFY` do that a user couldn't do themselves with `SHMEM_VENDOR_VERSION_{MAJOR, MINOR, PATCH}`?  I.e., if we standardize this, would

[2021-04-26 19:03] BryantLam commented on #463
We could choose to not standardize a `VENDOR_VERSION`. It's not that hard for a user to create one themselves and throw it in a global header.
[code]

[2021-04-26 19:06] nspark commented on #463
Am I correct to think you mean something like the following?

[code]

An application user would read this `shmem.h` and then use `SHMEM_VENDOR_VERSION_FOO`; e.g.,

[code]

[2021-04-26 19:12] nspark commented on #463
Separately, is there any sense in requiring `SHMEM_VENDOR_NAME` to be a valid C token (and not a string), so one can do something like the following...?

[code]

Or, am I just having too much fun with the C preprocessor?

[2021-04-26 19:15] BryantLam commented on #463
I thought about that, but in practice, I don't think users would want to use this definition. It makes tracing your code a lot harder to figure out when you see a guard like:

[code]
Whose implementation was remedied?

[2021-04-26 19:21] nspark commented on #463
Yes, which circles back to my [earlier comment](https://github.com/openshmem-org/specification/issues/463#issuecomment-824873949) that explicitly-named macros are imporant.

I guess I just got a little too sucked into the preprocessor.

[2021-04-28 01:01] jdinan commented on #463
I was thinking of something like this:
[code]
This has the advantage that `SHMEM_VENDOR_NAME` being defined also implies that the rest of the preprocessor tokens are also be defined.

[2021-04-30 18:08] tonycurtis commented on #463
From what I found at cppreference, it’s not clear if the expression evaluation can short-circuit.  I changed the godbolt code to something that should work for everyone (famous last words).

[2021-04-30 18:11] nspark commented on #463
@tonycurtis If you change something in Godbolt, you need to (re)share to get a new URL to display your changes.

[2021-04-30 18:13] tonycurtis commented on #463
https://godbolt.org/z/G37Eqqb5j <https://godbolt.org/z/G37Eqqb5j>

[2021-04-30 20:48] davidozog commented on #189
Here are the slides we covered in the committee meeting today:
https://docs.google.com/presentation/d/1Eco0_yFRS__b-kHy9dM7vO4yDw951_Gc685divy_JZs/edit?usp=sharing

I created a gist that attempts to capture the ideas that came up today.  Feedback is welcome:
https://gist.github.com/davidozog/9be1e52dd425567f86ccb1b050446baf

[2021-05-04 16:58] nspark commented on #189
Personally, I like Option 2 from your slides. You present:

[code]

The `shmem_bundle*_t` types seem unnecessary at the current stage of design. I'm hesitant to add structure types and fields if all we're (currently) specifying amounts to a boolean flag.

[2021-05-04 16:58] nspark commented on #189
If something more explicit w.r.t. bundle configuration is desired (e.g., to differentiate message aggregation and NIC doorbell chaining), we may want to revisit @naveen-rn's `shmem_ctx_create_ext`, which took a structure-base configuration argument. If the context is the object that "does the bundling," then there shouldn't be a `shmem_bundle_t` type. A sketch:

[code]

Maybe, eventually, we'll ha

[2021-05-04 16:58] nspark commented on #189
If bundling itself is a hint, then it seems like the start/stop operations on a bundle-enabled context (I don't like "bundled context") should themselves be hints. An implementation that supports bundling may choose to:

- Only bundle nonblocking operations between explicit start/stop regions
- Bundle nonblocking operations eagerly

[2021-05-04 17:02] nspark commented on #189
Re: when to bundle: Should blocking, non-fetching atomics be bundled? They are in many ways like nonblocking operations. Unlike blocking RMA, which may require a copy of the local buffer, these operations take their only payload as a value parameter. I imagine there could be meaningful benefits from NIC doorbell chaining these operations, for example; however, there's no nonblocking, non-fetching

[2021-05-04 17:06] nspark commented on #463
@jdinan Except you're missing a closing `#endif`—which, I think, is a perfect example of how closely nested preprocessor guards are a real pain. Stylistically, most code formatters don't indent nested preprocessor directives, which makes such errors harder to catch.

This makes me somewhat hesitant to allow for an implementation-defined function-like macro "prototype." I'd much rather have the "on

[2021-05-04 18:00] nspark commented on #451
@akhillanger Can we close this issue, or would you still like to pursue deprecation?

[2021-05-05 16:56] jdinan commented on #463
@nspark What about making SHMEM_VENDOR_VERSIONIFY variadic? That should still support the one-line version.

[2021-05-05 18:18] nspark commented on #463
@jdinan Is [this an example](https://godbolt.org/z/WdfMEcKob) of what you mean?

[2021-05-06 14:31] naveen-rn commented on #189
@nspark I agree with this statement. AFAIU, we have two levels of bundling features - chaining and aggregation.

Chaining is entirely an one-sided semantics. Meaning, all we need is the source process to group the RMA and AMO events together. To do this, a simple session_start/stop routine is sufficient. I would prefer the following core semantics for chaining:
1. Chaining is an hint for the imple

[2021-05-06 19:04] nspark opened #467 "Reductions and NaN values"
## Description

Currently, the Specification does not specify the handling of NaN values in reductions over floating types.

Per C18 &sect;7.12.14-1, a NaN value is _unordered_ with respect to a numeric value or another NaN. For example, it is not clear what the result of `shmem_double_max_reduce` or `shmem_double_max_to_all` should be in the presence of NaN values.

In C, NaN values can be initia

[2021-05-06 19:50] nspark commented on #467
I expected MPI might have plenty to say about handling NaN values, but all I see is the following:

[2021-05-18 17:13] #441 closed

[2021-05-18 17:39] jdinan commented on #442
I started an errata page on the wiki: https://github.com/openshmem-org/specification/wiki/OpenSHMEM-1.5-Errata

[2021-05-18 17:39] #442 closed

[2021-05-24 14:17] naveen-rn opened #468 "Need for local completion and remote commit"
## Motivation

In general, implementing ```shmem_quiet``` based memory ordering semantics is expensive. With the introduction of system processors with weak memory model, and support for multiple NICs per node, the cost of performing remote completion and committing any previously posted RMA and AMO events is getting really expensive. This introduces the need for performing _dummy read-like_ opera

[2021-05-24 16:04] nspark commented on #468
[code]

[2021-05-24 16:32] naveen-rn commented on #468
Some examples to clarify the local complete and remote commit semantics:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2021-05-24 20:58] nspark commented on #467
To implementors/vendors: Are there performance concerns if the result (e.g., of a MAX reduction where some entries are NaN values) is implementation defined but required to be single-valued? That is, all PEs would be expected to return the same value. (This result is not currently the case on all implementations.)

[2021-05-24 21:31] manjugv commented on #468
[code]

FYI - From implementation perspective, this requires remote completion and it will have a latency of remote completion.

[2021-05-28 07:24] naveen-rn commented on #468
@manjugv Does that mean - every FAMO in your implementation provides global visibility guarantees? If so, aren't you providing more guarantees than what OSM-1.5 expects?

AFAIU, a local completion operation is not used to create delayed execution. That is for the shmem_session to handle. It just provides a way for delayed remote completion.

Meaning, you can try to implement all NBI and blocking o

[2021-06-01 13:50] nspark commented on #457
This seems reasonable and straightforward, and not incompatible with #263 (multiple init/finalize). It seems like having the `shmem_is_finalized` would be worth adding for completeness. (IIRC, @jeffhammond suggested this a long time ago.)

[2021-06-01 13:58] naveen-rn commented on #457
I suppose, these routines are usable outside the shmem-parallel region (i.e before shmem_init and after shmem_finalize).

[2021-06-01 14:18] nspark commented on #457
Yes, and I think they should be thread safe, independent of whether SHMEM is initialized at any particular thread safety level.

[2021-06-01 14:28] naveen-rn commented on #457
In general, as an independent programming model usage - I don't see any issues with this routine.

But, we might have issues in hybrid programming model usage - for example CAF or UPC using SHMEM as communication layer. These programming models, does an ```shmem_init()``` internally during the program startup and any further user created explicit ```shmem_init()``` call will be essentially a no-op

[2021-06-01 15:12] nspark commented on #366
Here's a straightforward adaptation from `shmem_team_split_strided` that mirrors the proposed wording changes in #461. What do you think?

**SHMEM_TEAM_DUP**

Create a new OpenSHMEM team with the same set of PEs as an existing team.

**SYNOPSIS**

C/C++:
[code]

**DESCRIPTION**

**Arguments**

* **IN** `parent_team` An OpenSHMEM team
* **IN** `config` A pointer to the configuration parameters for

[2021-06-01 15:33] nspark commented on #447
How about the following addition...? (new text in bold)

That said, I'm not sure I understand the third issue @naveen-rn raised.

[2021-06-01 15:42] nspark commented on #457
Subsequent calls to `shmem_init` result in undefined behavior, so the case of hybrid SHMEM + CAF/UPC-over-SHMEM could be problematic _without_ such an interface.

Yes, it could be confusing, but I'd argue such a hybrid program would be problematic because an explicit call to `shmem_finalize` would invalidate UPC operations after finalize but before the program exits.

[2021-06-01 18:47] nspark commented on #468
I was thinking about this proposal today; in particular, how it seems to give rise to a set of "equivalences:"

1. `shmem_put` &equiv; `shmem_put_nbi` + `shmem_local_complete`
2. `shmem_quiet` &equiv; `shmem_local_complete` + `shmem_remote_commit`
3. `shmem_barrier_all`
   &equiv; `shmem_quiet` + `shmem_sync_all`
   &equiv; `shmem_local_complete` + `shmem_remote_commit` + `shmem_team_sync`
   &equ

[2021-06-01 18:49] nspark commented on #468
Separately, I'm a little nervous that we're adding complexity here that may be hard to reconcile with any eventual memory model. I think we had a reasonably clear mapping of AMOs and fence/quiet to the C++ memory model. I feel less confident about the mapping in terms of `local_complete` and `remote_commit`.

[2021-06-03 03:21] jeffhammond commented on #457
MPI did a bunch of work on this exact topic a while back. @jdinan is well-qualified to summarize.

[2021-06-07 16:12] manjugv commented on #468
RDMA flush proposal: https://tools.ietf.org/id/draft-talpey-rdma-commit-01.html#rfc.section.3.1.1

[2021-06-07 17:51] nspark commented on #468
On today's call, it seemed like:

1. Not everyone [loves the name](https://www.karlton.org/2017/12/naming-things-hard/) `shmem_local_complete`, but most generally support the concept.
2. Not everyone thinks that splitting `shmem_quiet` into the semantic pieces of `shmem_local_complete` + `shmem_remote_commit` provides a benefit.

While I understand @naveen-rn's rationale for all three new APIs, I

[2021-06-07 17:51] nspark commented on #468
Separately, there was a lot of discussion about completion semantics and how they're implemented. As an application user, I feel like libfabric has reasonably understandable language regarding completion semantics. (See "Completion Event Semantics" under [`man fi_cq`](https://ofiwg.github.io/libfabric/v1.12.1/man/fi_cq.3.html).) In my understanding,

- `FI_INJECT_COMPLETE` &approx; what we call "l

[2021-06-14 16:31] davidozog commented on #189
Here is a use case that came up during the WG call - My apologies, I may have misunderstood/caused confusion at the time (and was being distracted by IMs...) so please correct me if I'm wrong.

[code]

I think the question is whether a quiet is necessary after the 1st stop, and whether the start/stop bundle API captures the desired optimization.

The quiet is needed if the user wants to assure som

[2021-06-14 19:44] nspark commented on #189
I think the quiet is _required_ for this example only if the application itself needs global completion and visibility of the operatons in the first RMA chain. There's no reason that, on its own, your example _needs_ global completion before the start of the second RMA chain. If the application needed that, then the quiet would be required regardless of whether the bundling API was used at all.

T

[2021-06-14 19:53] nspark commented on #189
In an implementation that _does not_ support bundling, I would expect some natural overlap between the 1st RMA chain and the local compute because of the use of nonblocking operations. As a hint, the bundling helps reduce the NIC doorbell rings; it doesn't change the requirements for overlap.

Put differently, the spec doesn't say a quiet is ever needed for overlap. If anything, it _reduces_ overl

[2021-06-14 23:39] davidozog commented on #189
Yup, thanks @nspark - I think we're in agreement.  Yes, my understanding is that this example is presumed to be correct with or without the quiet.  In that case, it's reasonable to expect some overlap between chain 1 and chain 2 without a quiet, but it's not required.

So a hint-only start/stop API may or may not decide to break the chain after a stop.  A start/stop implementation may decide the u

[2021-06-15 21:23] jdinan commented on #467
Not for MAX, but for an arithmetic operation like SUM, there could be an associativity requirement in order to ensure that all PEs get identical results.

[2021-06-25 17:42] davidozog opened #469 "Deprecate start/end may encapsulate new text/tables"
The PDF generated from #462 suggests a new table (for reduction types) is deprecated, but it's clearly just a LaTeX artifact.

This issue serves as a reminder to check for issues like this before ratifying the v1.6 document.

[2021-06-25 18:04] naveen-rn commented on #468
The status of this PR as of June, 25 - before the Spec Meeting:
1. It is good to split the ```shmem_quiet``` semantics
2. There was good acceptance of the ```shmem_local_complete``` semantics, though the name of the routine is still being discussed
3. ```shmem_remote_commit``` seems not that really useful - no pressing use case
4. ```shmem_team_remote_commit``` is option:1 to address the deprecate

[2021-06-25 19:46] nspark commented on #463
Poking @jdinan...

[2021-06-25 19:50] nspark commented on #467
Some concerns that have been raised (off issue, obviously) are that "proper" NaN behavior may require an _additional_ collective (to test for NaNs), which is not desirable.

Again, in my (limited) testing, implementations handled the sum-reduction properly in the face of NaN values. The max (and, presumably, min) reductions were what were not necessarily returning the same value on all PEs.

[2021-06-25 20:32] manjugv opened #471 "Remove deprecated items from the spec"
During the June 2021 spec meeting, we discussed whether to remove or keep the deprecated features in the specification. Removing depreciated items will simplify code and reduce maintenance effort.

To understand the support straw poll was conducted during the meeting.
 
- Option 1: Remove depurated items from spec for the next version of the spec
- Option 2: Don’t remove

**Votes:**
- Option 1: 9

[2021-06-25 20:39] manjugv commented on #453
@naveen-rn Are you still pursuing this ticket?

[2021-06-25 20:40] manjugv commented on #444
@naveen-rn Can I close this?

[2021-06-28 19:08] manjugv commented on #180
This will be addressed as a part of spec version, which breaks backward compatibility (probably 2.0).

[2021-06-28 19:12] manjugv commented on #194
This issue is addressed via #251. Closing this one.

[2021-06-28 19:12] #194 closed

[2021-06-28 19:23] manjugv commented on #227
Closed as per authors request.

[2021-06-28 19:23] #227 closed

[2021-06-28 19:37] manjugv commented on #231
Discussed during the WG meeting (June 28th, 2021) and it was concluded not to fix for now.

[2021-06-28 19:37] #231 closed

[2021-06-28 19:41] naveen-rn commented on #234
Following #468 - closing this issue

[2021-06-28 19:41] #234 closed

[2021-06-28 19:47] manjugv commented on #240
Closing ..

[2021-06-28 19:47] #240 closed

[2021-06-28 19:48] jdinan commented on #239
@naveen-rn Pointed out that OpenSHMEM does not specify the context allocation policy. An alternative solution would be to use flags to specify the policy, e.g. `SHMEM_CTX_POLICY_BESTEFFORT` or `SHMEM_CONTEXT_POLICY_PREFERRED`.

[2021-06-29 02:38] jeffhammond commented on #252
What's the use case? Do we have an established prior art for using SHMEM and coarrays together? What problems were found?

[2021-06-29 02:41] jeffhammond commented on #249
What's the value of standardizing this versus the interested parties providing an implementation to the community as OSS?

There is a real cost to standardization in the form of our time. I'd like to see the implementation in the wild and some evidence that we need more than one implementation of the same API. If there is only going to be one implementation, then there is no need to spend time on

[2021-06-29 08:04] naveen-rn commented on #249
If you look at the proposal - we have tried to split it as three different sub-levels:
1. RM all the existing FTN support - DONE
2. Introduce Fortran Bind(C) based base support - This #249 issue
3. Introduce the use of standard Coarray features with OpenSHMEM to make (2) more clean - Issue #252

Though our goal is just to have (3) in the spec - introducing the changes as multiple smaller items mak

[2021-06-29 08:06] naveen-rn commented on #252
Refer https://github.com/openshmem-org/specification/issues/249#issuecomment-870373153 - for a brief overview on the type of interoperability we are trying to propose

[2021-07-06 19:58] nspark commented on #225
Here's a Gist that's a [trivial demonstration](https://gist.github.com/nspark/c757a820821aef048c9ab751b005b38c) of an implementation that would support "reference counting" on symmetric memory regions.

[2021-07-07 16:28] jdinan commented on #366
Do we want to allow config to be inherited by the child team, e.g. if `config == NULL`? @naveen-rn was this something you had in mind with the initial issue?

[2021-07-07 16:40] jdinan commented on #457
There is no harm in replicating the MPI query functions; I think any design effort in this space will arrive at the same API. That said, there are still issues with only having is_initialized and is_finalized because the SHMEM library doesn't know that it has multiple users of the API. For example, the first user to initialize the library can finalize it while another library is still using it. Re

[2021-07-09 05:51] jeffhammond commented on #457
Is it not the case that the reentrant initialization starts with a fetch-and-increment and the initialization is only performance if the fetched value is zero?  The reentrant finalization does the same, for a fetched value of one.

I can't remember what I've written that does this but [`pthread_once`](https://pubs.opengroup.org/onlinepubs/007908775/xsh/pthread_once.html) may also be useful here.

[2021-07-09 11:22] jdinan commented on #457
The easy thing to do is to not finalize the OpenSHMEM library in the call to finalize and clean up only atexit. One of the issues with reinitialization is statically initialized variables in the library. These are often not reset in the call to finalize, which can lead to problems.

[2021-07-19 19:43] manjugv commented on #317
Threads WG Discussion: Will read in the next spec meeting.

[2021-07-19 19:44] manjugv commented on #339
Ping @jdinan @akhillanger Do you have any updates on this issue?

[2021-07-20 04:23] akhillanger commented on #339
Manju, No update yet.
Here is a link to the two slide sets presented previously:
[OpenSHMEM RMA Working Group Meeting June 08 2020](https://drive.google.com/file/d/1k7Kt4uJd-O4PMoxTFaGL3YuTfCFW9rcT/view)
[OpenSHMEM Memory Model Discussion F2F September 2019 SUNY](https://docs.google.com/presentation/d/1zXvgV4GCoKsYRE1mK1BbaGw-i9y28gFPWu-nsCLkcrE/edit?ts=5d8bbb6f#slide=id.p1)

[2021-09-04 20:09] tonycurtis opened #476 "Spec 1.5: ambiguous profile level information"
On p. 141, the profile levels and their effects are listed.

Level 2 has differing definitions/effects: == 2 and >= 2

[2021-09-09 21:35] nspark commented on #263
Trying to draft some text, here's what I have so far. (Note, these are not the complete description of the listed routines; I've tried to limit it to the most relevant sections.)

For `shmem_init_thread`:

For `shmem_finalize`:

[2021-09-09 21:49] nspark commented on #263
Some thoughts on what's missing:

- Need to preclude reinitialization (e.g., init-finalize-init-finalize) but not "nested reinitialization" (e.g., init-init-finalize-init-finalize-finalize).
- Clarify that OpenSHMEM calls after `shmem_finalize` are still valid provided it wasn't the call that decrements the init counter to zero; i.e., init-init-finalize-put-finalize is valid (but poor form unless

[2021-09-10 23:50] minsii commented on #263
@nspark Thanks for driving the draft. The text looks great to me.

A few comments on the missing items.

Not sure if I understand it correctly,  is your intention to support reinitialization? I am afraid that it is hard for many implementations.

I feel they are still useful. E.g., the user program may want to check whether any library has initialized SHMEM so that it can issue a PUT.

[2021-09-13 20:40] nspark commented on #263
No. But, if an init-finalize pair happens inside another init-finalize pair, the inner finalize shouldn't cause the library to be "completely finalized." (I need better or more precise terminology here.)

For example, this should be allowed (time flows top to bottom; fini == finalize):

    app     libA    libB    init-count
    init                    1
            init            2
            f

[2021-09-13 21:03] kholland-intel opened #478 "Missing note for shmem_team_ptr"
It came up during the special ballot reading for #475 that teams with overlapping PE's should not expect the same pointer return value when calling `shmem_team_ptr`.

We decided that we can merge #475 as-is and open a new PR for this issue.

[2021-09-13 21:17] kholland-intel opened #479 "Uncertainty About Change-log Version"
@jdinan, #475 introduces the change-log with v1.6. This will need to be updated if we decide to move directly to v2.0. We decided that we can merge #475 as-is and resolve this issue later.

[2021-09-14 18:14] nspark commented on #263
Drafting the latest updates for these changes has me thinking: Is multithread initialization/finalization sanely permissible? In a sense, it seemed like we were trending toward allowing:

[code]

However, `shmem_init[_thread]` and `shmem_finalize` each imply an operation equivalent to `shmem_barrier_all`, and we currently preclude multithreaded collective operations. Assuming such a restriction pe

[2021-09-20 17:57] #319 closed

[2021-09-20 18:22] jdinan commented on #478
Does this mean that querying symmetric address X for PE Y in SHMEM_TEAM_WORLD can return a different result than the same query performed on a duplicate of SHMEM_TEAM_WORLD?

[2021-09-20 21:47] kholland-intel commented on #478
Yes, we tentatively decided that we would allow different results on two different teams even when the PEs overlap. The idea was that this is less restrictive on implementations that, for example, don't _exactly_ duplicate a team. Also, OpenSHMEM currently only has a split API, not a duplicate API.

[2021-09-21 20:55] jdinan commented on #478
Sorry, I'm not sure my question came across clearly -- If you query the address of same symmetric object on the same OpenSHMEM process (i.e. has exactly the same PE ID in the world team) should you get the same address back? I would think the answer must be yes, since today allocation is done at the world scope.

[2021-09-21 21:07] jdinan commented on #263
Multithreaded init/finalize -- we can make this work by putting an init/finalize mutex into the library and only allowing one thread to enter the routine. But, unless there is a use case driving it, I'd rather not distract implementors with this.

We should clearly specify that the threading level returned by a call to shmem_init_thread must be greater than or equal to any threading level previous

[2021-09-22 02:52] minsii commented on #263
Is there a use case that may need increased thread level with multiple init calls?

[2021-09-22 15:10] davidozog commented on #478
@jdinan - I think it's reasonable to expect that we'd get the same address back for OpenSHMEM v1.5, but with the introduction of spaces we might want to be careful with that requirement.  With spaces, every team will have a default space and our _hope_ is that this API is still useful / backwards-compatible in that context (but maybe that's not possible?).  So if the 2 teams have different default

[2021-09-22 15:40] wrrobin commented on #476
Thanks for catching that @tonycurtis. Will post a fix.

[2021-09-22 15:49] jdinan commented on #478
Doesn't "same symmetric object" already address this concern?

[2021-09-22 21:00] davidozog commented on #478
@jdinan - Yeah probably.  Even if teams inherent spaces from their parent team, it makes sense to me that the inherited symmetric objects have the same address when loads/stores are possible, regardless of the PE ID w.r.t teams.

I might be off with the spaces arguments above - I seem to recall @naveen-rn and/or @manjugv raised the original concern.

[2021-10-01 20:04] #460 closed

[2021-10-04 16:22] davidozog commented on #447
@nspark et al. - Is there a common use-case for not modifying `config` if `config_mask` is 0?  I'm wondering if it might be more helpful for users if the routine simply returns all the configuration parameters according to how the team was created (i.e., a "copy" of `config`).  This might make it easier to duplicate a team and might better reflect the "team_split" `config_mask`, "A `config_mask` v

[2021-10-27 19:40] manjugv opened #482 "Wait on short type?"
void shmem_wait_until(TYPE *ivar, int cmp, TYPE cmp_value);

Please see page 112 in the OpenSHMEM v1.5 document. It seems like by referring to Table 6, we are deprecating the wait on type short and unsigned short, was this intentional?

[2021-10-29 16:21] manjugv opened #483 "OpenSHMEM Queues for Aggregation"
## Problem :
Communication and data aggregation is known to provide better performance characteristics for the PGAS/OpenSHMEM applications [1][2]. However, to leverage aggregation, the OpenSHMEM programming model lacks abstractions that can be used by applications to express aggregation intentions, or that could be used by developers to optimize the OpenSHMEM implementations for aggregation.

[1]

[2021-11-01 12:49] jdinan opened #484 "Char arithmetic is undefined outside of the character set"
## Problem Statement

We have character reductions in OpenSHMEM. However, the C language specification only guarantees well-defined behavior when the values correspond to characters in the basic execution character set.

C99 Section 6.2.5, Paragraph 3:

## Question

Should an OpenSHMEM reduction on character data provide be required to provide the implementation-defined result? For context, this w

[2021-11-29 15:44] nspark opened #485 "Counting semaphore variant of lock API"
The current locking API provides a fair-queued lock across the PEs, allowing one PE to hold the lock at a time. There is user interest in supporting a variant that supports _N_ PEs to hold the "lock" at a time, as with a counting semaphore. Similar fair-queuing, FIFO behavior is strongly desirable.

One significant use-case is for parallel file I/O. With large PE counts, user applications can ofte

[2021-11-29 21:11] davidozog commented on #189
The RMA WG today discussed an alternative API to `shmem_bundle_start` and `shmem_bundle_stop` that would capture more general hints on a "session".

Here is a possible interface:
[code]

This could support bundling on a context with an option like `SHMEM_CTX_SESSION_BUNDLE`, for example.  Other possible use-cases are a bit less clear, but we thought of a few:

1.  Bundle only certain operations (e

[2022-01-10 22:29] manjugv opened #487 "Ambiguity in shmem_ctx_quiet Completion and Visibility"
Assuming context is created by shmem_team_ctx_create operation, on return from shmem_ctx_quiet,  the completed operations could be visible:

- (1.) to all PEs in the job, or
- (2.) only to PEs in the team that was used to create the context

What should be the behavior of shmem_ctx_quiet,  1 or (2)?

[2022-01-10 22:37] manjugv commented on #487
Notes from the WG meeting (Jan 10th):

Both approaches have advantages, (1) can have performance benefits for some architectures (GPUs) while (2) providing simplicity to the user. However, the OpenSHMEM memory model doesn’t support scoped memory allocation - scoped completion without scoped allocation introduces asymmetry. Given the constraints of the current OpenSHMEM memory model, one of the res

[2022-01-10 22:38] manjugv commented on #487
@jdinan @nspark Please feel free to add/edit, if I missed any nuances from today's discussion.

[2022-01-11 21:33] naveen-rn commented on #487
I'm not sure how can (2) be implemented? Irrespective of the TEAM being used, every PE would know the targets that were used for communication using a particular context. Wouldn't getting those operations globally visible make it visible to every PE in the job. Not, sure how could we get global visibility on a set of PEs in the job?

Is there an implementation specific feature available for this?

[2022-01-28 22:47] naveen-rn commented on #483
@manjugv Queries on data queues or misc questions on the endgame/support for user-defined op-types (which are essential for the targeted use-cases) are slated for another comment. Let me try to understanding the basic communication queues.

Please clarify the following:

1. The differentiation between communication queues and contexts is confusing. It almost seems both the SHMEM objects are perfor

[2022-01-31 16:37] #212 closed

[2022-02-08 20:06] nspark commented on #485
One can provide such a lock using the existing lock routines and AMOs, roughly as follows:

[code]

There is some potential for optimization here, but hopefully this gives a good sketch of how this can be done. The `shmem_*_lock` API provides the FIFO queueing for the semaphore's counter, while the counter itself allows more than one PE to access the guarded section.

[2022-02-13 16:45] jdinan commented on #485
Would the lock type of the proposed API also be `long` or something else? IIUC, the above implementation would require more space than we have in a single `long`.

[2022-02-25 21:43] tonycurtis commented on #485
Could we do this by using a long* lock variable as a hash key to a private (bigger) structure?

Tony

[2022-02-28 17:44] jdinan commented on #485
I think we would need a point where we could symmetrically allocate memory for the lock. Locks are global objects that aren't tied to a team, so this could be tricky. We do have extra space in the MCS lock algorithm that we used in SOS. We assume that `sizeof(long) == 2*sizeof(int)`. Both ints are used on PE 0 and there is one int free on every other process. So you could place the counter on anot

[2022-02-28 19:00] nspark commented on #485
Do you mean you'd rather the lock routines use an opaque type?

[2022-02-28 20:48] nspark commented on #485
Some working group comments:

- Generally favor opaque type; prevents abuse of assumptions on types/ABIs
- Good to have a static initializer
- Maybe collapse "traditional" locks together with "counting" locks
- Consider support for locks from multiple threads in a PE

[2022-03-14 18:57] naveen-rn commented on #382
I would assume there is no new implicit ordering guarantees introduced with this proposal. This is simply a special case PWS with 0-zero payload. If this is the intended semantics - I think this proposal is implementable.

Also, it would be better to introduce `shmem_signal_set` and `shmem_signal_add` as separate APIs.

[2022-03-23 20:38] nspark commented on #482
@manjugv Is this good to close?

[2022-03-25 18:37] nspark opened #491 "Should team strides be positive?"
The current (1.5) definition of `shmem_team_split_strided` does not constrain the `stride` argument to be positive. As written, it may be negative or even zero, (potentially) allowing for the creation of the following teams:

[code]

For the former, should a negative-stride team be permissible? This would allow for creating teams with reversed PE indices. (See also https://github.com/openshmem-org

[2022-03-25 18:41] nspark opened #492 "Team creation and resource utilization"
The current (1.5) `shmem_team_config_t` structure only specifies a `num_contexts` field. However, there is some concern about the costs of team creation. This issue will attempt to capture use-cases for expanding the team configuration structure.

[2022-03-25 19:10] naveen-rn commented on #492
Can you please clarify this statement? This is confusing.

[2022-03-25 19:19] naveen-rn commented on #492
In general, implementations could follow one of the design options:

1. **Static allocation** - In static allocation, all context related resources are created upfront probably during `shmem_init`, Irrespective of the TEAMs that these resources will be associated with. This is sort of creating `n * SHMEM_CTX_DEFAULT` contexts. Whenever new context objects are created, one of the pre-created resour

[2022-03-25 19:19] nspark commented on #492
This case still needs to create a context to get the team-relative PE indexing for point-to-point operations. Thus, it's not appropriate to set `config.num_contexts = 0` when creating the team.

[2022-04-14 20:57] davidozog commented on #253
@nspark / @jdinan - I'm a little unsure of RMA overlap restrictions...  My apologies, I remember it coming up in discussion, but don't remember the exact conclusion.

Overlapped RMA (either complete or partial) is undefined in OpenSHMEM v1.5, correct?

From this (Section 4.2 v1.5):
[code]

So for `shmem_put`, `dst` is a non-const pointer arg, so `dst` must not overlap with `source` or any other ar

[2022-04-18 19:08] jdinan commented on #253
The behavior is undefined when `src` and `dst` overlap, even for things like [memcpy](https://man7.org/linux/man-pages/man3/memcpy.3.html).

[2022-07-01 17:59] #317 closed

[2022-11-14 16:17] jdinan commented on #479
Closed by #475

[2022-11-14 16:17] #479 closed

[2022-11-15 08:12] jeffhammond commented on #365
I'm saying 2D is sufficient for cartesian arrays.  3D can be collapsed to 2D by multiplying the first two strides.  And so forth.  Or one can loop over 2D ops if somehow that doesn't work.  The loop overhead isn't going to matter because a 2D operation is going to be relatively expensive.